.about-company{
    h2{
        margin: 91px 0 30px 0;
    }
    p{
        margin-top: 16px;
        &:first-child{
            margin-top: 0;
        }
    }
    &__employee-row{
        margin-top: 36px;
        img{
            max-width: 100%;
        }
        .col-md-4{
            &:nth-child(3n){
                padding-right: 0;
            }
            &:nth-child(3n+1){
                padding-left: 0;
            }
            &:nth-child(3n-1){
                padding-left: 7.5px;            
                padding-right: 7.5px;
            }
        }        
    }
    &__post{
        margin-top: 8px;
    }
}

@media(max-width: 1380px){

}

@media(max-width: 1200px){
    .about-company{
        h2{
            margin: 60px 0 30px;
        }  
    }
}

@media(max-width: 1000px){
    .about-company{

    }    
}

@media(max-width: 900px){
    .about-company{
        h2{
            margin: 60px 0 8px;
        }
    }
}

@media(max-width: 850px){

}

@media(max-width: 767px){
    .about-company{
        h4{
            margin-bottom: 0;
        }
        .col-md-8.offset-2{
            margin-left: 0;
            -ms-flex: 0 0 97%;
            flex: 0 0 97%;
            max-width: 97%;
        }

        &__employee-row{
            img{
                width: 100%;
            }
            .col-md-4{
                margin-bottom: 24px;
                &:nth-child(3n){
                    padding: 0;
                }
                &:nth-child(3n+1){                    
                    padding: 0;
                }
                &:nth-child(3n-1){
                    padding: 0;
                }
            }        
        }
    }
}

@media(max-width: 500px){
    .about-company{

    }
}

@media(max-width: 400px){
    .about-company{
        h2{
            margin: 40px 0 0px;
        }
    }
}