.contacts{
    font-size: 115%;
    padding: 80px 0 0 0;
    .ooo{
        font-family: $CB;
    }
    .col-md-5.offset-1{
        margin-top: 12px;
    }
    form{
        box-shadow: 0 7px 56px 0 rgba(210,214,217,.5);
        padding: 36px 48px 48px;
        .h3{
            line-height: 100%;
            margin: 0 0 16px 0;
        }
        fieldset{
            margin: 0 0 16px 0;
        }
        button{
            width: 100%;
        }
        #message{
            min-height: 120px;
        }
        #message-fieldset{
            margin-bottom: 11px;
        }
        .col-md-6{
            padding: 0;
        }
        .col-md-6:first-child{
            padding-right: 8px;
        }
        .col-md-6:last-child{
            padding-left: 8px;
        }
    }
    &__row{
        margin: 0 0 8px 0;
    }
    &__property{
        font-family: $CB;
        margin-right: 6px;
    }
    .col-md-3{
        text-align: center;
    }
    .document{
        background-image: url('../img/word-doc.svg');
        background-repeat: no-repeat;
        font-size: 115%;
        margin: 0 0 8px 0;
        padding: 0 0 0 30px;
        .link{
            font-size: 85%;
        }
        .type-and-size{
            color: $dark-gray;
            font-size: 75%;
            margin: 6px 0 0 0;
        }
        &:last-child{
            margin: 0;
        }
    }
    h1{
        text-align: center;
        margin: -0px 0 32px 0;
    }
    .social{
        border-bottom: none;
        display: inline-block;
        height: 24px;
        margin: 4px 1% 0;
        position: relative;
        width: 24px;
        &:hover{
            background-size: 0 0;
        }
        &:hover:after{
            opacity: 0;
        }
        &:hover:before{
            opacity: 1;
        }
        &:after{
            background-repeat: no-repeat;
            content: '';
            height: 100%;
            left: 0;
            opacity: 1;
            position: absolute;
            top: 0;
            transition: 0.25s;
            width: 100%;
        }
        &:before{
            background-repeat: no-repeat;
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: 0.25s;
            width: 100%;
        }
        &--vk{
            margin-left: 0;
            &:after{
                background-image: url('../img/vk.svg');
            }
            &:before{
                background-image: url('../img/vk-active.svg');
            }

        }
        &--fb{
            &:after{
                background-image: url('../img/fb.svg');
            }
            &:before{
                background-image: url('../img/fb-active.svg');
            }

        }
        &--inst{
            &:after{
                background-image: url('../img/inst.svg');
            }
            &:before{
                background-image: url('../img/inst-active.svg');
            }

        }
        &--ok{
            &:after{
                background-image: url('../img/ok.svg');
            }
            &:before{
                background-image: url('../img/ok-active.svg');
            }

        }
    }
}

@media(max-width: 1200px){
    .contacts{
        padding: 60px 0 0;
        form{
            .col-md-6{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-6:first-child{
                padding-right: 0;
            }
            .col-md-6:last-child{
                padding-left: 0;
            }
        }
    }
}

@media(max-width: 1000px){
    .contacts{
        h1{
            margin: 0 0 12px 0;
        }
        form{
            padding: 28px 36px 40px;
        }
        .col-md-5{
            -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }
        .col-md-5.offset-1{
            margin-left: 0;
            -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }
    }
}

@media(max-width: 900px){
    .contacts{
        .col-md-3{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 14px;
            &:nth-last-child(2){
                margin-bottom: 22px;
            }
        }
    }
}

@media(max-width: 767px){
    .contacts{
        padding: 60px 0 0;
        h1{
            margin: 0;
        }
        .col-md-5{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-md-5.offset-1{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@media(max-width: 500px){
    .contacts{
        h1{
            padding-bottom: 8px;
        }
        form{
            padding: 24px 24px 36px;
            fieldset{
                margin: 0 0 12px;
            }
            #message-fieldset{
                margin-bottom: 7px;
            }
        }
    }
}

@media(max-width: 370px){
    .contacts{
        h1{
            padding-bottom: 0;
        }
        .col-md-3{
            margin-bottom: 8px;
            &:nth-last-child(2){
                margin-bottom: 16px;
            }
        }
    }
}



@media(max-width: 350px){
    .contacts{

    }
}