footer{
    border-top: 1px solid $light-gray;
    font-size: 115%;
    margin: 160px 0 0 0;
    padding: 16px 0 13px;
    .copyright{
        padding-left: 0;
    }
    .ketov{
        padding-right: 0;
        text-align: right;
    }
}

@media(max-width: 1200px){
    footer{
        margin: 110px 0 0;
    }
}

@media(max-width: 1000px){

}

@media(max-width: 767px){

}