footer{
    border-top: 1px solid $light-gray;
    font-size: 115%;
    line-height: 125%;
    margin: 160px 0 0;
    padding: 18px 0 18px;
    .links{
        margin-bottom: 8px;
    }
    .free8800{
        margin-bottom: 10px;
    }
    .phone{
        border-bottom: none;
        color: #18191e;
        display: block;
        font-family: $CB,sans-serif;
        font-size: 105%;
        margin: 4px 0 0 0;
        &:hover{
            background-size: 0 0;
        }
    }
    .copyright{
        padding-left: 0;
    }
    .ketov{
        padding-right: 0;
        text-align: right;
    }
    .social{
        border-bottom: none;
        display: inline-block;
        height: 24px;
        margin: 0 2%;
        position: relative;
        width: 24px;
        &:hover{
            background-size: 0 0;
        }
        &:hover:after{
            opacity: 0;
        }
        &:hover:before{
            opacity: 1;
        }
        &:after{
            background-repeat: no-repeat;
            content: '';
            height: 100%;
            left: 0;
            opacity: 1;
            position: absolute;
            top: 0;
            transition: 0.25s;
            width: 100%;
        }
        &:before{
            background-repeat: no-repeat;
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: 0.25s;
            width: 100%;
        }
        &--vk{
            &:after{
                background-image: url('../img/vk.svg');
            }
            &:before{
                background-image: url('../img/vk-active.svg');
            }

        }
        &--fb{
            &:after{
                background-image: url('../img/fb.svg');
            }
            &:before{
                background-image: url('../img/fb-active.svg');
            }

        }
        &--inst{
            &:after{
                background-image: url('../img/inst.svg');
            }
            &:before{
                background-image: url('../img/inst-active.svg');
            }

        }
    }
}

@media(max-width: 1200px){
    footer{
        margin: 110px 0 0;
    }
}

@media(max-width: 850px){
    footer{
        margin: 80px 0 0;
        padding: 15px 0 9px;
        text-align: center;
        .col-md-3{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-bottom: 4px;
            max-width: 100%;
            text-align: center;
            padding: 0;
        }
        .col-md-4{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
        }
        .col-md-2{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;            
            margin-bottom: 14px;
        }
    }
}

@media(max-width: 767px){

}

@media(max-width: 600px){
    footer{
        margin: 60px 0 0;
    }
}