footer{
    border-top: 1px solid $light-gray;
    font-size: 115%;
    margin: 120px 0 0 0;
    padding: 24px 0 23px;
    .link{
        color: $black;
    }
    .ketov{
        text-align: right;
    }
}

@media(max-width: 1000px){

}

@media(max-width: 767px){

}