header{
    background: $white;
    padding: 20px 0 20px 0;
    position: fixed;
    transition: 0.2s;
    width: 100%;
    z-index: 1;
    .link{
        color: $black;
        margin: 0 2%;
    }
    .col-md-8{
        font-size: 115%;
        text-align: center;
        padding: 14px 0 0 0;
    }
    .phone{
        padding-top: 14px;
        padding-right: 0;
        text-align: right;
        a{
            color: $black;
            font-family: $CB;
            font-size: 140%;
        }
    }
}

header.inner{
    padding: 4px 0 4px 0;
}

header.inner.active{
    padding: 4px 0 4px 0;
}

header.active{
    padding: 4px 0 4px 0;
}

@media(max-width: 1200px){

}

@media(max-width: 850px){

}

@media(max-width: 767px){

}