.index-offer{
    h1{
        font-size: 375%;
        line-height: 115%;
        margin: 129px 0 0 0;
    }
}

.main-img{
    display: block;
    margin: -133px auto 0;
    max-width: 100%;
}

@media(max-width: 1380px){

}

@media(max-width: 1200px){

}

@media(max-width: 1000px){

}

@media(max-width: 850px){

}