.index-offer{
    h1{
        margin: 129px 0 0 0;
    }
}

.main-img{
    display: block;
    margin: -133px auto 0;
    max-width: 100%;
    &--2{
        display: none;
    }
    &--3{
        display: none;
    }
}

@media(max-width: 1200px){
    .index-offer{
        h1{
            margin: 120px 0 0;
        }
        &__form{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-left: 0;
            max-width: 100%;
        }
    }
    .search{
        form{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-left: 0;
            max-width: 100%;
        }
    }
    .short-destinations__message{
        .col-md-10{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-left: 0;
            max-width: 100%;
        }
    }
    .main-img{
        &--1{
            display: none;
        }
        &--2{
            display: block;
        }
    }
}

@media(max-width: 1100px){
    .index-offer{
        h1{
            margin: 100px 0 0;
        }
    }
}

@media(max-width: 1000px){
    .main-img{
        &--2{
            display: none;
        }
        &--3{
            display: block;
        }
    }
}

@media(max-width: 850px){

}

@media(max-width: 770px){
    .main-img{
        &--3{
            display: none;
        }
    }
}