.product{
    .company{
        background: $white;
        margin-top: -230px;
        padding: 100px 124px 112px;
        text-align: center;
        p{
            line-height: 145%;
        }
    }
    .about-product{
        margin: 100px auto 0;
        h2{
            &:after{
                left: 4px;
                margin-left: 0;
            }
        }
    }
    &__row{
        margin: 70px 0 0 0;
    }
    &__item{
        padding: 0;
        h3{
            margin: 25px 0 0 0;
        }
        p{
            margin: 20px 0 0 0;
        }
        &--last{
            margin: -40px 0 0 0;
        }
    }
}

.about-product.container{
    padding-bottom: 111px;
}

#product-icon-1{
    stroke-dasharray: 215;
    opacity: 0;
}

#product-icon-2{
    stroke-dasharray: 230;
    opacity: 0;
}

#product-icon-3{
    stroke-dasharray: 230;
    opacity: 0;
}

#product-icon-4{
    stroke-dasharray: 230;
    opacity: 0;
}

#product-icon-5{
    stroke-dasharray: 230;
    opacity: 0;
}

#product-icon-1.product-icon-1--active
{
    opacity: 1;
    animation-name: svganimation;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

#product-icon-2.product-icon-2--active
{
    opacity: 1;
    animation-name: svganimation2;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

#product-icon-3.product-icon-3--active
{
    opacity: 1;
    animation-name: svganimation3;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

#product-icon-4.product-icon-4--active
{
    opacity: 1;
    animation-name: svganimation4;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

#product-icon-5.product-icon-5--active
{
    opacity: 1;
    animation-name: svganimation5;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

@keyframes svganimation{
    from {stroke-dashoffset: 215;}
    to {stroke-dashoffset: 0;}
}

@keyframes svganimation2{
    from {stroke-dashoffset: 230;}
    to {stroke-dashoffset: 0;}
}

@keyframes svganimation3{
    from {stroke-dashoffset: 230;}
    to {stroke-dashoffset: 0;}
}

@keyframes svganimation4{
    from {stroke-dashoffset: 230;}
    to {stroke-dashoffset: 0;}
}

@keyframes svganimation5{
    from {stroke-dashoffset: 230;}
    to {stroke-dashoffset: 0;}
}

@media(max-width: 1380px){
    .product{
        .company{
            padding: 80px 124px 92px;
        }
    }
}

@media(max-width: 1380px){
    .product{
        .about-product{
            margin: 80px auto 0;
        }
        &__row{
            margin: 50px 0 0 0;
        }
        &__item{
            &--last{
                margin: -20px 0 0 0;
            }
        }
    }

    .about-product.container{
        padding-bottom: 91px;
    }
}

@media(max-width: 1200px){
    .product{
        .company{
            padding: 60px 124px 72px;
            p{
                line-height: 150%;
            }
        }
        .about-product{
            margin: 70px auto 0;
        }
        &__row{
            margin: 40px 0 0;
        }
        &__item{
            &--last{
                margin: -52px 0 0;
            }
        }
    }

    .about-product.container{
        padding-bottom: 90px;
    }
}

@media(max-width: 1000px){
    .product{
        .company{
            padding: 50px 68px 52px;
        }
        &__row{
            margin: 28px 0 0;
        }
        &__item{
            h3{
                margin: 20px 0 0;
            }
            p{
                margin: 8px 0 0;
            }
            &--last{
                margin: -68px 0 0;
            }
        }
    }
    .about-product{
        margin: 60px auto 0;
        .col-md-10{
            ms-flex: 0 0 90%;
            flex: 0 0 90%;
            max-width: 90%;
        }
    }
    .about-product.container{
        padding-bottom: 70px;
    }
}

@media(max-width: 850px){
    .product{
        .company{
            margin: -250px 0 0 2%;
            -ms-flex: 0 0 96%;
            flex: 0 0 96%;
            max-width: 96%;
            padding: 40px 40px 40px;
            p{
                line-height: 155%;
            }
        }
        .about-product{
            margin: 50px auto 0;
        }
        &__row{
            margin: 20px 0 0;
        }
    }
    .about-product.container{
        padding-bottom: 50px;
    }
}

@media(max-width: 767px){
    .product{
        &__item{
            margin-left: 0;
            margin-top: 28px;
            h3{
                margin: 12px 0 0;
            }
        }
        &__row{
            margin: 0;
        }
        .col-md-12{
            max-width: 96%;
        }
    }
}

@media(max-width: 650px){
    .product{
        .company{
            margin: 0 0 0 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 40px 30px 40px;
            text-align: left;
            p{
                font-size: 140%;
                line-height: 160%;
                max-width: 90%;
            }
            h2:after{
                left: 0;
                margin-left: 0;
            }
        }
    }
    .product{
        .container.about-company{
            padding: 0;
        }
    }
}