.question-answer{
    h2{
        margin: 0 0 48px 0px;
    }
    &__question{
        box-shadow: 0px 7px 56px -3px rgba(210, 214, 217, 0.5);
        padding: 0;
        margin-bottom: 20px;
        .question{
            cursor: pointer;
            font-size: 160%;
            padding: 23px 24px 24px 28px;
            .plus{
                height: 20px;
                position: absolute;
                right: 24px;
                top: 33px;
                transition: 0.25s;
                transform: rotate(0deg);
                width: 20px;
                .rectangle{
                    background: $green;
                    position: absolute;
                    transition: 0.25s;
                    &--1{
                        height: 20px;
                        left: 9px;
                        width: 2px;
                    }
                    &--2{
                        height: 2px;
                        top: 9px;
                        width: 20px;
                    }
                }
            }
        }
        .question.active{
            .plus{
                transform: rotate(90deg);
                .rectangle{
                    background: $black;
                    &--2{
                        opacity: 0;
                    }
                }
            }
        }
        .answer{
            border-top: 1px solid $light-gray;
            display: none;
            .answer-container{
                padding: 23px 108px 26px 28px;
                p{
                    margin-top: 12px;
                    b{
                        font-family: $CB;
                    }
                    .link{
                        color: $black;
                        margin: 0 6px 0;
                    }
                    .link.email{
                        margin: 0 0 0 6px;
                    }
                }
                p:first-child{
                    margin-top: 0;
                }
            }
        }
    }
}

@media(max-width: 1380px){

}

@media(max-width: 1200px){

}

@media(max-width: 1000px){

}

@media(max-width: 850px){

}

@media(max-width: 767px){

}