.reviews{
    .col-md-3{
        border: 1px solid red;
        -ms-flex: 0 0 23.8%;
        flex: 0 0 23.8%;
        max-width: 23.8%;
        margin-right: 1.5%;
        &:last-child{
            margin-right: 0;
        }
    }
    .link{
        bottom: 5px;
        position: absolute;
    }
    .author{
        bottom: -30px;
        position: absolute;
    }
    padding-bottom: 400px;
}

@media(max-width: 1380px){

}

@media(max-width: 1200px){

}

@media(max-width: 1000px){

}

@media(max-width: 850px){

}

@media(max-width: 767px){

}