.reviews-page{
    padding-top: 60px;
}

.rating-label{
    background: url('../img/star-gray.svg');
    cursor: pointer;
    float: right;
    height: 24px;
    left: 0;
    margin: 0 4px 0 0;
    position: relative;
    top: 15px;
    width: 24px;
    .star{
        left: 0;
        position: absolute;
        top: 0;
        transition: 0.2s;
        &--gray{
            opacity: 1;
        }
        &--yellow{
            opacity: 0;
        }
    }
    &:hover .star--yellow{
        opacity: 1;
    }
    &:hover .star--gray{
        opacity: 0;
    }
    &:hover ~ .rating-label .star--yellow{
        opacity: 1;
    }
}

.reviews-form{
    box-shadow: 0 7px 56px 0 rgba(210,214,217,.5);
    padding: 48px 60px 48px;
    h3{
        /*margin: 0 0 22px 0;*/
    }
    input[type="radio"]{
        display: none;
    }
    input[type="radio"]:checked ~ .rating-label .star--yellow{
        opacity: 1;
    }
    button{
        width: 100%;
    }
    .col-md-6{
        padding: 0;
    }
    .col-md-6:first-child{
        padding-right: 8px;
    }
    .col-md-6:last-child{
        padding-left: 8px;
    }
    #message{
        min-height: 120px;
    }
    fieldset{
        margin: 0 0 16px;
    }
    fieldset.first{
        margin-top: 22px;
    }
    .success{
        margin-top: 13px;
        text-align: center;
    }
    #radio-block{
        display: table;
        float: left;
    }
    #message-fieldset{
        margin: 0 0 11px 0;
    }
}

.col-md-6.offset-3.reviews-form-container{
    padding: 40px 0 0 0;
}

.reviews{
    padding: 84px 0 0;
    .col-md-12{
        padding: 0;
    }
    h2{
        margin: 0 0 40px 0;
    }

    &__itemreviewed{
        margin: 12px 0 12px 0;
    }

    &__rating{
        color: $white;
        position: absolute;
        top: 0;

    }
    &__stars{
        margin: 0 0 8px 0;
    }
    &__star{
        float: left;
        height: 24px;
        margin-right: 3px;
        position: relative;
        width: 24px;
        img{
            left: 0;
            position: absolute;
            top: 0;
            transition: 0.2s;
            width: 100%;
        }
        .star--gray{
            opacity: 1;
        }
        .star--yellow{
            opacity: 0;
        }
        &--active{
            .star--gray{
                opacity: 0;
            }
            .star--yellow{
                opacity: 1;
            }
        }
    }
    p{
        font-size: 100%;
        line-height: 160%;
    }
    .col-md-3{
        border: 1px solid $blue;
        -ms-flex: 0 0 23.8%;
        flex: 0 0 23.8%;
        margin-bottom: 100px;
        margin-right: 1.5%;
        max-width: 23.8%;
        padding: 23px 28px 50px 28px;
        &:nth-child(4n){
            margin-right: 0;
        }
    }
    .swiper-slide{
        border: 1px solid $blue;
        padding: 23px 28px 12px 28px;
        display: block;
        text-align: left;
    }
    .swiper-pagination--reviews{
        margin-top: -12px;
    }
    .swiper-wrapper{
        padding-bottom: 100px;
    }
    a{
        bottom: 35px;
        color: $black;
        position: absolute;
    }
    .author{
        bottom: -60px;
        color: $dark-gray;
        left: 0;
        position: absolute;
    }
    &__triangle{
        bottom: -25px;
        left: 24px;
        position: absolute;
        width: 26px;
    }
}

@media(max-width: 1380px){

}

@media(max-width: 1200px){
    .reviews{
        margin: 0;
        padding: 60px 0 0;
        h2{
            margin: 0 0 20px;
        }
        .col-md-3{
            margin-bottom: 80px;
        }
        .author{
            bottom: -52px;
        }
    }
}

@media(max-width: 1100px){
    .reviews{
        margin: 0px 0 0px;
        padding: 48px 0 0;
        h2{
            margin: 0 0 20px 0;
        }
        .swiper-slide{
            padding: 16px 40px 12px 20px;
        }
        .col-md-3{
            -ms-flex: 0 0 49%;
            flex: 0 0 49%;
            margin-bottom: 72px;
            max-width: 49%;
            padding: 16px 40px 50px 20px;
            &:nth-child(2n){
                margin-right: 0;
            }
        }
        .link{
            bottom: 20px;
        }
        .author{
            bottom: -52px;
        }
    }
}

@media(max-width: 1000px){
    .reviews{
        h2{
            padding: 0;
        }
    }
    .col-md-6.offset-3.reviews-form-container{
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        margin-left: 16.666667%;
    }
}

@media(max-width: 850px){

}

@media(max-width: 767px){
    .col-md-6.offset-3.reviews-form-container{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0%;
    }
    .reviews-form{
        #radio-block{
            margin: -20px 0 44px 0;
        }
        .col-md-6:first-child{
            padding-right: 0x;
        }
        .col-md-6:last-child{
            padding-left: 0;
        }
    }
}

@media(max-width: 600px){
    .reviews{
        padding: 40px 0 0;
        .col-md-3{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 16px 40px 50px 20px;
        }
        a{
            bottom: 18px;
        }
    }
}

@media(max-width: 500px){
    .reviews-form{
        padding: 36px 32px;
        fieldset{
            margin: 0 0 12px 0;
        }
    }
    .col-md-6.offset-3.reviews-form-container {
        padding: 20px 0 0;
    }
}