.rules{
    padding: 210px 0 60px;
    .document{
        background-image: url('../img/word-doc.svg');
        background-repeat: no-repeat;
        font-size: 115%;
        margin: 0 0 8px 0;
        padding: 0 0 0 30px;
        .link{
            font-size: 85%;
        }
        .type-and-size{
            color: $dark-gray;
            font-size: 75%;
            margin: 6px 0 0 0;
        }
        &:last-child{
            margin: 0;
        }
    }
    h2{
        text-align: center;
        margin: -0px 0 32px 0;
    }
}

@media(max-height: 1100px){
    .rules{
        padding: 360px 0 180px;
    }
}



@media(max-height: 900px){
    .rules{
        padding: 300px 0 130px;
    }
}

@media(max-height: 800px){
    .rules{
        padding: 270px 0 90px;
    }
}

@media(max-height: 767px){
    .rules{
        padding: 230px 0 30px;
    }
}

@media(max-height: 700px){
    .rules{
        h2{
            margin: 0px 0 32px;
        }
    }
}

@media(max-width: 500px){
    .rules{

    }
}


@media(max-width: 350px){
    .rules{

    }
}

@media (max-width: 1150px){
    .rules{
        padding: 170px 0 40px;
    }
}

@media(max-width: 600px){
    .rules{
        padding: 148px 90px 0px;
    }
}

@media(max-width: 500px){
    .rules{
        padding: 148px 40px 0px;
    }
}

@media(max-width: 500px){
    .rules{
        padding: 148px 10px 0px;
    }
}