.search{
    &--inner{
        background: $blue;
        color: $white;
        padding: 96px 0 60px;
    }
    &--main{
        padding: 40px 0 0;
    }
    &__breadcrumbs{
        text-align: center;
        a{
            color: $white;
            font-size: 115%;
        }
        .current{
            font-size: 115%;
        }
        .slash{
            margin: 0 12px 0 12px;
        }
    }
    h1{
        margin: 38px auto 28px;
        max-width: 1000px;
    }
    form{
        background: $white;
        padding: 48px 72px;
        z-index: 1;
    }
    button{
        width: 100%;
    }
    .col-md-4{
        padding-left: 0;
    }
    .col-md-2{
        padding-left: 0;
    }
}

.search.search--inner.search--short-destinations{
    padding: 96px 0 160px;
}

.search.search--inner.search--order{
    padding: 88px 0 20px;
}

.index-offer__form{
    box-shadow: 0px 7px 50px 0px rgba(210,214,217,.5);
}

@media(max-width: 1200px){
    .search{
        &--main{
            padding: 32px 0 0;
        }
    }
}

@media(max-width: 1100px){
    .search{
        padding: 84px 0 40px;
        h1{
            margin: 28px auto 16px;
        }
        &--main{
            padding: 24px 0 0 0;
        }
        form{
            padding: 48px 40px;
        }
    }
    .search.search--inner.search--short-destinations{
        padding: 84px 0 160px;
    }
}

@media(max-width: 1000px){

}

@media(max-width: 850px){

}

@media(max-width: 767px){

}

@media(max-width: 650px){

}

@media(max-width: 550px){

}