.standards{
    padding: 105px 0 0;
    h2{
        margin: 0 0 56px 0;
    }
    .col-md-3{
        margin: 2px 0 0 0;
    }
    &__nav{
        color: $blue;
        border: none;
        display: block;
        font-size: 115%;
        margin: 0 0 14px 0px;
        transition: 0.2s;
        span{
            border-bottom: 1px dotted $blue;
        }
        &:hover{
            color: $red;
            background-size: 0 0;
        }
        &:hover span{
            border-bottom: 1px dotted $red;
        }
    }
    &__h3{
        display: block;
        font-family: $CB;
        font-size: 200%;
        font-weight: normal;
        line-height: 110%;
        margin: 38px 0 0 0;
        &:first-child{
            margin: 0 0 0 0;
        }
    }
    p{
        font-size: 115%;
        line-height: 160%;
        margin: 25px 0 0;
    }
}

@media(max-width: 1380px){

}

@media(max-width: 1200px){
    .standards{
        padding: 80px 0 0;
        h2{
            margin: 0 0 32px;
        }
        &__h3{
            font-size: 180%;
            margin: 28px 0 0;
        }
        p{
            margin: 12px 0 0;
        }
    }
}

@media(max-width: 1100px){
    .standards{
        padding: 60px 0 0 0;
        h2{
            margin: 0 0 20px;
        }
        p{
            margin: 4px 0 0 0;
        }
        &__nav{
            font-size: 100%;
        }
        &__h3{
            margin: 18px 0 0;
        }
    }
}

@media(max-width: 1000px){

}

@media(max-width: 850px){

}

@media(max-width: 767px){

}