.thankyou{
    padding: 210px 0 60px;
    h3{
        text-align: center;
        margin: -20px 0 6px 0;
    }
    p{
        font-size: 115%;
        text-align: center;
    }
    .link{
        color: $black;
        margin-left: 6px;
    }
    p.text{
        display: table;
        margin: 0 auto 20px;
        max-width: 500px;
    }
}

@media(max-height: 1100px){
    .thankyou{
        padding: 360px 0 180px;
    }
}



@media(max-height: 900px){
    .thankyou{
        padding: 300px 0 130px;
    }
}

@media(max-height: 800px){
    .thankyou{
        padding: 290px 0 90px;
    }
}

@media(max-height: 767px){
    .thankyou{
        padding: 230px 0 30px;
        h1{
            font-size: 1200%;
        }
    }
}

@media(max-height: 700px){
    .thankyou{
        h3{
            margin: -32px 0 6px;
        }
    }
}

@media(max-width: 500px){
    .thankyou{

    }
}


@media(max-width: 350px){
    .thankyou{

    }
}

@media (max-width: 1150px){
    .thankyou{
        padding: 170px 0 40px;
    }
}

@media(max-width: 600px){
    .thankyou{
        padding: 148px 90px 0px;
    }
}

@media(max-width: 500px){
    .thankyou{
        padding: 148px 40px 0px;
    }
}

@media(max-width: 500px){
    .thankyou{
        padding: 148px 10px 0px;
    }
}