doctype html
html
    head
        title Все направления
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
    body
        //img(src="assets/img/DesktopHD.png" alt="шаблон.десктоп" style="position: absolute; z-index: 1; opacity: 0.5;")
        include includes/header-inner
        section.search.search--inner
            div.search__breadcrumbs
                a.link(href="#")
                    span Главная
                span.slash /
                span.current Такси в аэропорт Симферополя
            h1 Такси-трансфер в аэропорт Симферополя
            div.container
                div.row
                    form.col-md-10.offset-1
                        div.row
                            div.col-md-4
                                fieldset
                                    fieldset.select
                                        div.comment Откуда
                                        img.tick(src="assets/img/select-triangle.svg" alt="")
                                        select(name="from")
                                            option(selected) из Алупки
                                            option из Бахчисарая
                                            option из Белогорска
                                            option из Верхней Кутузовки
                                            option из Гаспры
                                            option из Гурзуфа
                                            option из Джанкой
                                            option из Заозерного
                                            option из Евпатории
                                            option из Симферополя
                                            option из Ялты

                            div.col-md-4
                                fieldset
                                    fieldset.select
                                        div.comment Куда
                                        img.tick(src="assets/img/select-triangle.svg" alt="")
                                        select(name="where")
                                            option в Алупку
                                            option в Бахчисарай
                                            option в Белогорск
                                            option в Верхнюю Кутузовку
                                            option в Гаспру
                                            option в Гурзуф
                                            option в Джанкой
                                            option в Заозерный
                                            option в Евпаторию
                                            option(selected) в Симферополь

                            div.col-md-2
                                fieldset
                                    input.input(id="passengers")
                                    label(for="passengers") Пассажиры

                            div.col-md-2
                                button Найти



        section.destinations
            h2 Все направления в аэропорт Симферополя
            div.container
                div.row
                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Алупки
                                    i.dash  —
                                i.i-right 1 500 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Бахчисарая
                                    i.dash  —
                                i.i-right 1 190 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Белогорска
                                    i.dash  —
                                i.i-right 990 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Верхней Кутузовки
                                    i.dash  —
                                i.i-right 890 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Гаспры
                                    i.dash  —
                                i.i-right 1 490 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Гурзуфа
                                    i.dash  —
                                i.i-right 1 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Джанкой
                                    i.dash  —
                                i.i-right 1 190 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Заозерного
                                    i.dash  —
                                i.i-right 1 190 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Евпатории
                                    i.dash  —
                                i.i-right 1 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Инкермана
                                    i.dash  —
                                i.i-right 1 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Казачей бухты
                                    i.dash  —
                                i.i-right 1 190 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Керчи
                                    i.dash  —
                                i.i-right 3 890 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Нижней Кутузовки
                                    i.dash  —
                                i.i-right 990 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Нового Света
                                    i.dash  —
                                i.i-right 1 690 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Орловки
                                    i.dash  —
                                i.i-right 1 690 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Полюшко
                                    i.dash  —
                                i.i-right 1 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Приморского
                                    i.dash  —
                                i.i-right 1 890 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Рыбачьего
                                    i.dash  —
                                i.i-right 1 590 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Севастополя
                                    i.dash  —
                                i.i-right 1 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Уютного
                                    i.dash  —
                                i.i-right 990 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Скалистого
                                    i.dash  —
                                i.i-right 690 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Судака
                                    i.dash  —
                                i.i-right 1 490 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Щелкино
                                    i.dash  —
                                i.i-right 2 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | из Ялты
                                    i.dash  —
                                i.i-right 1 090 руб.



        include includes/footer
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")