doctype html
html
    head
        title Все направления
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
    body
        //img(src="assets/img/DesktopHD.png" alt="шаблон.десктоп" style="position: absolute; z-index: 1; opacity: 0.5;")
        include includes/header-inner
        section.search.search--inner
            div.search__breadcrumbs
                a(href="#") Главная
                span.slash /
                span.current Такси в аэропорт Симферополя
            h1 Такси-трансфер в аэропорт Симферополя
            div.container
                div.row
                    form.col-md-10.offset-1
                        div.row
                            div.col-md-4
                                fieldset
                                    fieldset.select
                                        div.comment Откуда
                                        img.tick(src="assets/img/select-triangle.svg" alt="")
                                        select(name="from")
                                            option(selected) из Алупки
                                            option из Бахчисарая
                                            option из Белогорска
                                            option из Верхней Кутузовки
                                            option из Гаспры
                                            option из Гурзуфа
                                            option из Джанкой
                                            option из Заозерного
                                            option из Евпатории
                                            option из Симферополя
                                            option из Ялты

                            div.col-md-4
                                fieldset
                                    fieldset.select
                                        div.comment Куда
                                        img.tick(src="assets/img/select-triangle.svg" alt="")
                                        select(name="where")
                                            option в Алупку
                                            option в Бахчисарай
                                            option в Белогорск
                                            option в Верхнюю Кутузовку
                                            option в Гаспру
                                            option в Гурзуф
                                            option в Джанкой
                                            option в Заозерный
                                            option в Евпаторию
                                            option(selected) в Симферополь

                            div.col-md-2
                                fieldset
                                    input.input(id="passengers")
                                    label(for="passengers") Пассажиры

                            div.col-md-2
                                button Найти



        section.destinations
            h2 Все направления в аэропорт Симферополя
            div.container
                div.row
                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Алупка — Симферополь
                            span.price 1 500 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Бахчисарай — Симферополь
                            span.price 1 190 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Белогорск — Симферополь
                            span.price 990 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Верхняя Кутузовка — Симферополь
                            span.price 890 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Гаспра — Симферополь
                            span.price 1 490 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Гурзуф — Симферополь
                            span.price 1 090 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Джанкой — Симферополь
                            span.price 1 190 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Заозерное — Симферополь
                            span.price 1 190 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Евпатория — Симферополь
                            span.price 1 090 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Инкерман — Симферополь
                            span.price 1 090 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Казачья бухта — Симферополь
                            span.price 1 190 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Керчь — Симферополь
                            span.price 3 890 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Нижняя Кутузовка — Симферополь
                            span.price 990 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Новый Свет — Симферополь
                            span.price 1 690 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Орловка — Симферополь
                            span.price 1 690 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Полюшко — Симферополь
                            span.price 1 090 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Приморский — Симферополь
                            span.price 1 890 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Рыбачье — Симферополь
                            span.price 1 590 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Симферополь
                            span.price 1 090 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Уютное — Симферополь
                            span.price 990 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Скалистое — Симферополь
                            span.price 690 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Судак — Симферополь
                            span.price 1 490 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Щелкино — Симферополь
                            span.price 2 090 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Ялта — Симферополь
                            span.price 1 090 руб.



        include includes/footer
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")