doctype html
html
    head
        title Частые вопросы
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
    body
        include includes/header-inner

        section.search.search--inner.search--order
            div.container
                ul.search__breadcrumbs(itemscope itemtype="http://schema.org/BreadcrumbList")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(itemscope itemtype="http://schema.org/Thing" itemprop="item" href="#")
                            span(itemprop="name") Главная
                        meta(itemprop="position" content="1")
                    li
                        span.splash /
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(itemscope itemtype="http://schema.org/Thing" itemprop="item" href="#")
                            span(itemprop="name") Частые вопросы
                        meta(itemprop="position" content="3")
                    li.clear


        section.question-answer
            h2 Частые вопросы
            div.container
                div.row
                    div.col-md-8.offset-2.question-answer__question
                        div.question Что если я не смог найти свой маршрут?
                            div.plus
                                div.rectangle.rectangle--1
                                div.rectangle.rectangle--2
                        div.answer
                            div.answer-container
                                p
                                    | Если не&nbsp;получится найти нужный маршрут, Вам необходимо связаться с&nbsp;нами через онлайн чат.
                                    | Мы постараемся найти для&nbsp;вас водителя и&nbsp;сообщим стоимость поездки в&nbsp;течение 30 минут

                div.row
                    div.col-md-8.offset-2.question-answer__question
                        div.question А меня точно встретят?
                            div.plus
                                div.rectangle.rectangle--1
                                div.rectangle.rectangle--2
                        div.answer
                            div.answer-container
                                p
                                    | Мы гарантируем подачу машины. Это главная политика нашей компании!
                                    | В&nbsp;любой непредвиденной ситуации мы быстро среагируем и&nbsp;подадим Вам машину.
                                    | У&nbsp;водителя будет ваш телефон, а&nbsp;у&nbsp;вас — его телефон.

                                p
                                    | Пожалуйста, держите
                                    | телефон включенным. Более того, если Ваш рейс будет задержан на&nbsp;несколько
                                    | часов, мы организуем другую машину, бесплатно!

                div.row
                    div.col-md-8.offset-2.question-answer__question
                        div.question Что делать если меня не встретили?
                            div.plus
                                div.rectangle.rectangle--1
                                div.rectangle.rectangle--2
                        div.answer
                            div.answer-container
                                p
                                    | Если вы не&nbsp;нашли водителя, или&nbsp;не&nbsp;смогли с&nbsp;ним связаться, сообщите
                                    | нам по&nbsp;нашему телефону, и&nbsp;в&nbsp;течении 10 минут мы подадим Вам другую машину.

                                p
                                    b Важно:
                                    |  Ваш телефон должен быть включен и&nbsp;находиться в&nbsp;зоне связи.

                div.row
                    div.col-md-8.offset-2.question-answer__question
                        div.question Как я найду своего водителя?
                            div.plus
                                div.rectangle.rectangle--1
                                div.rectangle.rectangle--2
                        div.answer
                            div.answer-container
                                p
                                    b Важно:
                                    |  Если вы заказали функцию «Встреча с табличкой», то&nbsp;водитель
                                    | будет встречать вас с&nbsp;табличкой, на&nbsp;которой будут написаны
                                    | имя и&nbsp;фамилия, указанные в&nbsp;заказе. Если такой функцией
                                    | Вы не&nbsp;воспользовались, то&nbsp;тогда, Вам необходимо связаться
                                    | с&nbsp;водителем по&nbsp;прилету и&nbsp;согласовать место встречи.

                div.row
                    div.col-md-8.offset-2.question-answer__question
                        div.question Как мне связаться с водителем?
                            div.plus
                                div.rectangle.rectangle--1
                                div.rectangle.rectangle--2
                        div.answer
                            div.answer-container
                                p
                                    | Водитель, как правило, назначается за&nbsp;1-2 дня до&nbsp;поездки,
                                    | Вы получите уведомление с&nbsp;контактными данными водителя.
                                    | Также вы получите номер водителя в&nbsp;СМС на&nbsp;телефон, который
                                    | был указан при&nbsp;бронировании. Важно: позвоните или&nbsp;напишите
                                    | водителю СМС, если ваш рейс задержали более чем на&nbsp;полчаса или&nbsp;перенесли на&nbsp;другое время,
                                    | а&nbsp;также если вы задерживаетесь при&nbsp;получении багажа в&nbsp;аэропорту.

                div.row
                    div.col-md-8.offset-2.question-answer__question
                        div.question За какой срок можно забронировать поездку?
                            div.plus
                                div.rectangle.rectangle--1
                                div.rectangle.rectangle--2
                        div.answer
                            div.answer-container
                                p
                                    | Забронировать поездку через сайт можно за&nbsp;1 час до&nbsp;прибытия,
                                    | если Вам нужно организовать трансфер СРОЧНО, то&nbsp;Вам лучше связаться
                                    | с&nbsp;нашим диспетчером через онлайн-форму или указанный в&nbsp;шапке номер телефона.
                                    | Как правило, мы находим водителя за&nbsp;10 минут + время подачи.

                div.row
                    div.col-md-8.offset-2.question-answer__question
                        div.question Как проверить, что мой заказ принят?
                            div.plus
                                div.rectangle.rectangle--1
                                div.rectangle.rectangle--2
                        div.answer
                            div.answer-container
                                p
                                    | На&nbsp;указанную при&nbsp;бронировании почту должно прийти подтверждение — ваучер,
                                    | в&nbsp;котором указаны номер заказа и&nbsp;все данные поездки. Если вы не&nbsp;получили письмо
                                    | с&nbsp;подтверждением, обязательно свяжитесь с&nbsp;менеджером по почте
                                    a.link.email(href="mailto:zakaz@vl-taxi.ru")
                                        span zakaz@vl-taxi.ru
                                    | , телефону
                                    a.link(href="tel:+79773478089")
                                        span 8 (977) 347-80-89
                                    | или&nbsp;в&nbsp;чате.

                div.row
                    div.col-md-8.offset-2.question-answer__question
                        div.question Какое время указать?
                            div.plus
                                div.rectangle.rectangle--1
                                div.rectangle.rectangle--2
                        div.answer
                            div.answer-container
                                p
                                    | Если вам нужен трансфер из&nbsp;аэропорта или&nbsp;от&nbsp;вокзала,
                                    | указывайте время прилета или&nbsp;прибытия: в&nbsp;этом случае водителю
                                    | проще организовать встречу в&nbsp;аэропорту или&nbsp;на&nbsp;вокзале.
                                p
                                    b Важно:
                                    |  если вы узнаете об&nbsp;изменении времени прилета, пожалуйста,
                                    | сообщите нам об&nbsp;этом, чтобы мы информировали перевозчика.
                                p
                                    | Если вам нужен трансфер из&nbsp;гостиницы до аэропорта, указывайте время,
                                    | когда вас нужно встретить на&nbsp;ресепшн. Вам потребуется рассчитать
                                    | время выезда. Мы&nbsp;рекомендуем вычесть из&nbsp;времени вылета примерно
                                    | три часа на&nbsp;регистрацию в&nbsp;аэропорту плюс длительность поездки.
                                    | Примерное время, за&nbsp;которое водитель сможет добраться до&nbsp;аэропорта,
                                    | указано на&nbsp;странице бронирования под&nbsp;картой, после выбора маршрута.


        include includes/footer
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")