doctype html
html
    head
        title Откуда
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
    body
        //img(src="assets/img/DesktopHD.png" alt="шаблон.десктоп" style="position: absolute; z-index: 1; opacity: 0.5;")
        include includes/header-inner
        section.search.search--inner
            div.search__breadcrumbs
                a.link(href="#")
                    span Главная
                span.slash /
                span.current Такси из аэропорта Симферополя
            h1 Такси-трансфер из аэропорта Симферополя
            div.container
                div.row
                    form.col-md-10.offset-1
                        div.row
                            div.col-md-4
                                fieldset
                                    fieldset.select
                                        div.comment Откуда
                                        img.tick(src="assets/img/select-triangle.svg" alt="")
                                        select(name="from")
                                            option из Алупки
                                            option из Бахчисарая
                                            option из Белогорска
                                            option из Верхней Кутузовки
                                            option из Гаспры
                                            option из Гурзуфа
                                            option из Джанкой
                                            option из Заозерного
                                            option из Евпатории
                                            option(selected) из Симферополя
                                            option из Ялты

                            div.col-md-4
                                fieldset
                                    fieldset.select
                                        div.comment Куда
                                        img.tick(src="assets/img/select-triangle.svg" alt="")
                                        select(name="where")
                                            option(selected) в Алупку
                                            option в Бахчисарай
                                            option в Белогорск
                                            option в Верхнюю Кутузовку
                                            option в Гаспру
                                            option в Гурзуф
                                            option в Джанкой
                                            option в Заозерный
                                            option в Евпаторию
                                            option в Симферополь

                            div.col-md-2
                                fieldset
                                    input.input(id="passengers")
                                    label(for="passengers") Пассажиры

                            div.col-md-2
                                button Найти



        include includes/reviews
        include includes/advantages

        section.destinations
            h2 Все направления из аэропорта Симферополя
            div.container
                div.row
                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Алупку
                                    i.dash  —
                                i.i-right 1 500 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Бахчисарай
                                    i.dash  —
                                i.i-right 1 190 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Белогорск
                                    i.dash  —
                                i.i-right 990 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Верхнюю Кутузовку
                                    i.dash  —
                                i.i-right 890 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Гаспру
                                    i.dash  —
                                i.i-right 1 490 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Гурзуф
                                    i.dash  —
                                i.i-right 1 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Джанкой
                                    i.dash  —
                                i.i-right 1 190 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Заозерный
                                    i.dash  —
                                i.i-right 1 190 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Евпаторию
                                    i.dash  —
                                i.i-right 1 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Инкерман
                                    i.dash  —
                                i.i-right 1 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Казачью бухту
                                    i.dash  —
                                i.i-right 1 190 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Керчь
                                    i.dash  —
                                i.i-right 3 890 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Нижнюю Кутузовку
                                    i.dash  —
                                i.i-right 990 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Новый Свет
                                    i.dash  —
                                i.i-right 1 690 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Орловку
                                    i.dash  —
                                i.i-right 1 690 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Полюшко
                                    i.dash  —
                                i.i-right 1 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Приморский
                                    i.dash  —
                                i.i-right 1 890 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Рыбачье
                                    i.dash  —
                                i.i-right 1 590 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Севастополь
                                    i.dash  —
                                i.i-right 1 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Уютное
                                    i.dash  —
                                i.i-right 990 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Скалистое
                                    i.dash  —
                                i.i-right 690 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Судак
                                    i.dash  —
                                i.i-right 1 490 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Щелкино
                                    i.dash  —
                                i.i-right 2 090 руб.

                    div.col-md-4
                        a.link(href="#")
                            span.destinations__main-span
                                i.i-left
                                    | в Ялту
                                    i.dash  —
                                i.i-right 1 090 руб.


                div.row
                    a.button(href="#") Весь список


        include includes/footer
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")