doctype html
html
    head
        title Главная
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(ref="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
        link(ref="icon" href="assets/img/favicon.ico" type="image/x-icon")

    body
        include includes/header
        include includes/index-offer

        section.destinations(data-animation="fadeIn")
            h2.h2-80 Цены на популярные направления
            div.container
                div.row
                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Алупка — Бахчисарай
                            span.price 1 500 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Бахчисарай — Белогорск
                            span.price 1 190 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Верхняя Кутузовка — Гаспра
                            span.price 890 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Джанкой — Евпатория
                            span.price 1 590 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Заозерное — Гурзуф
                            span.price 990 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Верхняя Кутузовка — Симферополь
                            span.price 2 090 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Джанкой — Гурзуф
                            span.price 1 190 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Белогорск — Евпатория
                            span.price 590 руб.

        include includes/reviews
        include includes/advantages
        include includes/standards
        include includes/how-to-order
        include includes/cities
        include includes/seo
        include includes/slider


        footer#footer.footer-index
            div.container
                div.row
                    div.col-md-3.copyright
                        div © 2018 Служба такси «Вежливые люди»
                    div.col-md-2
                        div.links
                            a(href="rules.html") Правила и&nbsp;условия
                        div.links
                            a(href="faq.html") Частые вопросы
                        div.links
                            a(href="contacts.html") Контакты
                    div.col-md-4
                        a.social.social--vk(href="#")
                        a.social.social--fb(href="#")
                        a.social.social--inst(href="#")
                        a.phone(href="tel:+79223104870") +7 (922) 310-48-70

                    div.col-md-3.ketov
                        | Дизайн — Юрий Кетов
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")