doctype html
html
    head
        // Global site tag (gtag.js) - Google Analytics
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-132117487-1")
        script window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-132117487-1');

        title Главная
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(ref="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
        link(ref="icon" href="assets/img/favicon.ico" type="image/x-icon")
        style @media(min-width:901px){#jcont.fixed{margin-bottom: 97px !important;}}

    body
        header(data-animation="fadeIn" data-animation-delay="500ms" class="inner")
            div.container
                div.row
                    div.col-md-10
                        a.logo-link(href="index.html")
                            img.logo(src="assets/img/logo.svg" alt="логотип")
                        a.link(href="faq.html") Частые&nbsp;вопросы
                        a.link(href="about-company.html") О&nbsp;нас
                        a.link(href="reviews.html") Отзывы
                        a.link(href="contacts.html") Контакты
                        span.clear
                    div.col-md-2.phone
                        a(href="tel:88002003839") 8 (800) 200-38-39
                        div.free8800
                            nobr бесплатно для звонков из&nbsp;России

                div.row.mobile
                    div.col-md-2
                        img.logo(src="assets/img/logo.svg" alt="логотип")
                    div.col-md-8.links
                        a.link(href="faq.html") Частые вопросы
                        a.link(href="about-company.html") О нас
                        a.link(href="reviews.html") Отзывы
                        a.link(href="contacts.html") Контакты
                    div.col-md-2.phone
                        a(href="tel:88002003839") 8 (800) 200-38-39
                        div.free8800
                            nobr бесплатно для звонков из&nbsp;России

            div#hamburger
                div.hamburger__container
                    div.hamburger__block.hamburger__block--1
                    div.hamburger__block.hamburger__block--2
                    div.hamburger__block.hamburger__block--3



        include includes/index-offer

        section.destinations(data-animation="fadeIn")
            h2.h2-80 Цены на популярные направления
            div.container
                div.row
                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Алупка — Бахчисарай
                            span.price 1 500 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Бахчисарай — Белогорск
                            span.price 1 190 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Верхняя Кутузовка — Гаспра
                            span.price 890 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Джанкой — Евпатория
                            span.price 1 590 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Заозерное — Гурзуф
                            span.price 990 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Верхняя Кутузовка — Симферополь
                            span.price 2 090 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Джанкой — Гурзуф
                            span.price 1 190 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Белогорск — Евпатория
                            span.price 590 руб.

        include includes/reviews
        include includes/advantages
        include includes/standards
        include includes/how-to-order
        include includes/cities
        include includes/seo
        include includes/slider


        footer#footer.footer-index
            div.container
                div.row
                    div.col-md-3.copyright
                        div © 2018–2019 Служба заказа такси «Вежливые люди»
                    div.col-md-2
                        div.links
                            a(href="rules.html") Правила и&nbsp;условия
                        div.links
                            a(href="faq.html") Частые вопросы
                        div.links
                            a(href="contacts.html") Контакты
                    div.col-md-4
                        a.social.social--vk(href="#")
                        a.social.social--fb(href="#")
                        a.social.social--inst(href="#")
                        a.phone(href="tel:88002003839") 8 (800) 200-38-39
                        div.free8800
                            nobr бесплатно для звонков из&nbsp;России

                    div.col-md-3.ketov
                        | Дизайн — Юрий Кетов


        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")

        // BEGIN JIVOSITE CODE {literal}
        script (function(){ var widget_id = 'mEb3UbRg1A';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
        // {/literal} END JIVOSITE CODE

        // Yandex.Metrika counter
        script (function (m, e, t, r, i, k, a) {m[i] = m[i] || function () {(m[i].a = m[i].a || []).push(arguments)}; m[i].l=1 * new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(51847976, "init", {id:51847976, clickmap:true, trackLinks:true, accurateTrackBounce:true});
        noscript
            div
                img(src="https://mc.yandex.ru/watch/51847976" style="position:absolute; left:-9999px;" alt="")
        // /Yandex.Metrika counter