doctype html
html
    head
        title Правила и условия
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(ref="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
        link(ref="icon" href="assets/img/favicon.ico" type="image/x-icon")

    body
        include includes/header-inner
        section.rules.container
            h2 Правила и условия
            div.row
                div.col-md-3
                    div.document
                        a(href="#") Оферта для юр. лиц
                        div.type-and-size (doc, 44,6 Кб)

                div.col-md-3
                    div.document
                        a(href="#") Оферта для физ. лиц
                        div.type-and-size (doc, 52,0 Кб)

                div.col-md-3
                    div.document
                        a(href="#") Политика конфиденциальности
                        div.type-and-size (doc, 23,2 Кб)

                div.col-md-3
                    div.document
                        a(href="#") Общие правила оказания трансферных услуг
                        div.type-and-size (doc, 14,9 Кб)



        include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")


