doctype html
html
    head
        title Короткие маршруты
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
    body
        //img(src="assets/img/short-routes.png" alt="шаблон.десктоп" style="position: absolute; z-index: 1; opacity: 0.5;")
        include includes/header-inner
        section.search.search--inner.search--short-destinations
            div.search__breadcrumbs
                a.link(href="#")
                    span Главная
                span.slash /
                a.link(href="#")
                    span Такси из Симферополя
                span.slash /
                span.current Такси из Симферополя в Любимовку
            h1 Заказать такси в Любимовку
            div.container
                div.row
                    form.col-md-10.offset-1
                        div.row
                            div.col-md-4
                                fieldset
                                    fieldset.select
                                        div.comment Откуда
                                        img.tick(src="assets/img/select-triangle.svg" alt="")
                                        select(name="from")
                                            option из Алупки
                                            option из Бахчисарая
                                            option из Белогорска
                                            option из Верхней Кутузовки
                                            option из Гаспры
                                            option из Гурзуфа
                                            option из Джанкой
                                            option из Заозерного
                                            option из Евпатории
                                            option(selected) из Симферополя
                                            option из Ялты

                            div.col-md-4
                                fieldset
                                    fieldset.select
                                        div.comment Куда
                                        img.tick(src="assets/img/select-triangle.svg" alt="")
                                        select(name="where")
                                            option в Алупку
                                            option в Бахчисарай
                                            option в Белогорск
                                            option в Верхнюю Кутузовку
                                            option в Гаспру
                                            option в Гурзуф
                                            option в Джанкой
                                            option в Заозерный
                                            option в Евпаторию
                                            option(selected) в Любимовку
                                            option в Симферополь

                            div.col-md-2
                                fieldset
                                    input.input(id="passengers")
                                    label(for="passengers") Пассажиры

                            div.col-md-2
                                button Найти


        section.short-destinations__message
            div.container
                div.row
                    div.col-md-10.offset-1
                        p Дорогие друзья!
                        p
                            | Наша служба такси является междугородней и,&nbsp;к&nbsp;сожалению,
                            | мы не&nbsp;предоставляем поездки на&nbsp;средние и&nbsp;короткие дистанции.
                            | Но&nbsp;мы заботливо подготовили для&nbsp;Вас контакты наших коллег,
                            | которые осуществляют городские перевозки.

        section.destinations
            h2 Такси Симферополя
            div.container
                div.row
                    div.col-md-6
                        div.destinations__destination
                            span.price Севтакси
                            a.link(href="tel:+79785555555") +7 (978) 555-55-55

                    div.col-md-6
                        div.destinations__destination
                            span.price МегаКрым
                            a.link(href="tel:+79780701900") +7 (978) 070-19-00

                    div.col-md-6
                        div.destinations__destination
                            span.price Ананас
                            a.link(href="tel:+79787164137") +7 (978) 716-41-37

                    div.col-md-6
                        div.destinations__destination
                            span.price Везёт
                            a.link(href="tel:+79898500900") +7 (989) 850-09-00

                    div.col-md-6
                        div.destinations__destination
                            span.price ВИП
                            a.link(href="tel:+79788052576") +7 (978) 805-25-76


        section.destinations
            h2 Популярные междугородние направления из&nbsp;Севастополя
            div.container
                div.row
                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Симферополь
                            span.price 1 490 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Ялта
                            span.price 1 690 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Гаспра
                            span.price 1 590 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Алушта
                            span.price 1 990 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Любимовка
                            span.price 990 руб.


                div.row
                    a.button(href="") Все направления

        include includes/reviews
        include includes/footer
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")