doctype html
html
    head
        title Короткие маршруты
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
    body
        include includes/header-inner
        section.search.search--inner.search--short-destinations
            div.container
                ul.search__breadcrumbs(itemscope itemtype="http://schema.org/BreadcrumbList")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(itemscope itemtype="http://schema.org/Thing" itemprop="item" href="#")
                            span(itemprop="name") Главная
                        meta(itemprop="position" content="1")
                    li
                        span.splash /
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(itemscope itemtype="http://schema.org/Thing" itemprop="item" href="#")
                            span(itemprop="name") Такси из Симферополя
                        meta(itemprop="position" content="2")
                    li
                        span.splash /
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(itemscope itemtype="http://schema.org/Thing" itemprop="item" href="#")
                            span(itemprop="name") Такси из Симферополя в Любимовку
                        meta(itemprop="position" content="3")
                    li.clear


            h1 Заказать такси в Любимовку
            div.container
                div.row
                    form.col-md-10.offset-1
                        div.row
                            div.col-md-4
                                fieldset
                                    fieldset
                                        input.input.focus(name="from" id="from" value="Симферополь")
                                        label(for="from") Откуда

                            div.col-md-4
                                fieldset
                                    fieldset
                                        input.input.focus(name="where" id="where" value="Любимовка")
                                        label(for="where") Куда

                            div.col-md-2
                                fieldset
                                    input.input(id="passengers")
                                    label(for="passengers" id="label-for-passengers") Пассажиры

                                    div.passengers-add
                                        div.row
                                            div.col-md-6.passengers-add__text Взрослые
                                            div.col-md-6.row.passengers-add__actions
                                                div.col-md-4
                                                    button.passengers-add__button(type="button") -
                                                div.col-md-4 0
                                                div.col-md-4
                                                    button.passengers-add__button(type="button") +

                                        div.row
                                            div.col-md-6.passengers-add__text Дети
                                            div.col-md-6.row.passengers-add__actions
                                                div.col-md-4
                                                    button.passengers-add__button(type="button") -
                                                div.col-md-4 0
                                                div.col-md-4
                                                    button.passengers-add__button(type="button") +

                            div.col-md-2
                                button Найти


        section.short-destinations__message
            div.container
                div.row
                    div.col-md-10.offset-1
                        p Дорогие друзья!
                        p
                            | Наша служба такси является междугородней и,&nbsp;к&nbsp;сожалению,
                            | мы не&nbsp;предоставляем поездки на&nbsp;средние и&nbsp;короткие дистанции.
                            | Но&nbsp;мы заботливо подготовили для&nbsp;Вас контакты наших коллег,
                            | которые осуществляют городские перевозки.

        section.destinations
            h2 Такси Симферополя
            div.container
                div.row
                    div.col-md-6
                        div.destinations__destination
                            span.price Севтакси
                            a.link(href="tel:+79785555555") +7 (978) 555-55-55

                    div.col-md-6
                        div.destinations__destination
                            span.price МегаКрым
                            a.link(href="tel:+79780701900") +7 (978) 070-19-00

                    div.col-md-6
                        div.destinations__destination
                            span.price Ананас
                            a.link(href="tel:+79787164137") +7 (978) 716-41-37

                    div.col-md-6
                        div.destinations__destination
                            span.price Везёт
                            a.link(href="tel:+79898500900") +7 (989) 850-09-00

                    div.col-md-6
                        div.destinations__destination
                            span.price ВИП
                            a.link(href="tel:+79788052576") +7 (978) 805-25-76


        section.destinations
            h2 Популярные междугородние направления из&nbsp;Севастополя
            div.container
                div.row
                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Симферополь
                            span.price 1 490 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Ялта
                            span.price 1 690 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Гаспра
                            span.price 1 590 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Алушта
                            span.price 1 990 руб.

                    div.col-md-6
                        div.destinations__destination
                            a.link(href="#") Севастополь — Любимовка
                            span.price 990 руб.


                div.row
                    a.button(href="") Все направления

        include includes/reviews
        include includes/footer
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")