doctype html
html
    head
        title Куда
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
    body
        include includes/header-inner

        section.search.search--inner
            div.container
                ul.search__breadcrumbs(itemscope itemtype="http://schema.org/BreadcrumbList")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(itemscope itemtype="http://schema.org/Thing" itemprop="item" href="#" itemid="#")
                            span(itemprop="name") Главная
                        meta(itemprop="position" content="1")
                    li
                        span.splash /
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(itemscope itemtype="http://schema.org/Thing" itemprop="item" href="#" itemid="#")
                            span(itemprop="name") Такси в аэропорт Симферополя
                        meta(itemprop="position" content="2")
                    li.clear


            h1 Такси-трансфер в&nbsp;аэропорт Симферополя
            div.container
                div.row
                    form.col-md-10.offset-1
                        div.row
                            div.col-md-4
                                fieldset
                                    fieldset
                                        input.input.with-hidden(name="from" id="from" autocomplete="off")
                                        label(for="from") Откуда
                                        ul.suggestion-menu
                                            li Алупка
                                            li Бахчисарай
                                            li Верхняя Кутузовка
                                            li Гаспра
                                            li Евпатория

                            div.col-md-4
                                fieldset
                                    fieldset
                                        input.input.focus.with-hidden(name="where" id="where" value="Симферополь" autocomplete="off")
                                        label(for="where") Куда
                                        ul.suggestion-menu
                                            li Алупка
                                            li Бахчисарай
                                            li Верхняя Кутузовка
                                            li Гаспра
                                            li Евпатория

                            div.col-md-2
                                fieldset
                                    input.input(id="passengers")
                                    label(for="passengers" id="label-for-passengers") Пассажиры

                                    div.passengers-add
                                        div.row
                                            div.col-md-6.passengers-add__text Взрослые
                                            div.col-md-6.row.passengers-add__actions
                                                div.col-md-4
                                                    button.passengers-add__button#adult-minus(type="button") -
                                                div.col-md-4#adult-number 0
                                                div.col-md-4
                                                    button.passengers-add__button#adult-plus(type="button") +

                                        div.row
                                            div.col-md-6.passengers-add__text Дети
                                            div.col-md-6.row.passengers-add__actions
                                                div.col-md-4
                                                    button.passengers-add__button#children-minus(type="button") -
                                                div.col-md-4#children-number 0
                                                div.col-md-4
                                                    button.passengers-add__button#children-plus(type="button") +
                                        input#adult-number-input(type="hidden" value="0")
                                        input#children-number-input(type="hidden" value="0")

                            div.col-md-2
                                button Найти



        section.destinations
            h2.h2-80 Все направления в аэропорт Симферополя
            div.container
                div.row
                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Алупка — Симферополь
                            span.price 1 500 руб.


                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Бахчисарай — Симферополь
                            span.price 1 190 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Белогорск — Симферополь
                            span.price 990 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Верхняя Кутузовка — Симферополь
                            span.price 890 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Гаспра — Симферополь
                            span.price 1 490 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Гурзуф — Симферополь
                            span.price 1 090 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Джанкой — Симферополь
                            span.price 1 190 руб.

                    div.col-md-6
                        div.destinations__destination
                            a(href="#") Заозерное — Симферополь
                            span.price 1 190 руб.



                div.row
                    a.button(href="#") Весь список


        include includes/footer
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")