body{
    background: $white;
    color: $black;
    font-family: $CR;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.wrapper{
    margin: 0 auto;
    min-width: 940px;
    padding: 0;
    width: 940px;
}

.clear{
    clear: both;
}

.overflow-hidden{
    overflow: hidden;
}

[data-animation] {
    opacity: 0;
}

[data-animation].animated {
    opacity: 1;
}

h1{
    font-family: $CB;
    font-size: 300%;
    font-weight: normal;
    line-height: 100%;
    text-align: center;
}

h2{
    font-family: $CB;
    font-size: 300%;
    font-weight: normal;
    line-height: 100%;
    text-align: center;
}

h3{
    font-family: $CB;
    font-size: 200%;
    font-weight: normal;
    line-height: 110%;
    margin: 0;
}

.link{
    span{
        background-image: linear-gradient($green,$green);
        background-repeat: repeat-x;
        background-size: 1px 1px;
        background-position: 0 100%;
        line-height: 145%;
        transition: 200ms ease;
    }
    &:hover span{
        background-size: 21px 21px;
    }
}

p{
    font-size: 125%;
    margin: 0;
}

p.big{
    font-size: 190%;
    line-height: 160%;
}

button
{
    background: $green;
    border: none;
    border-radius: 0;
    color: $white;
    cursor: pointer;
    font-family: $CB;
    font-size: 85%;
    letter-spacing: 1px;
    outline: none;
    padding: 19px 8px 18px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transition: 0.15s ease;
    &:active{
        top: 2px;
    }
}

.button{
    background: $green;
    border: none;
    border-radius: 0;
    color: $white;
    cursor: pointer;
    display: table;
    font-family: $CB;
    font-size: 85%;
    letter-spacing: 1px;
    outline: none;
    padding: 19px 36px 18px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transition: 0.15s ease;
    width: auto;
    &:active{
        top: 2px;
    }
}

input{
    border: 1px solid $light-gray;
    margin: 0;
    outline: none;
    padding: 26px 0 5px 16px;
    transition: 0.1s ease;
    width: 100%;
}

input.focus ~ label{
    font-size: 85%;
    top: 8px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0;
    background-image: url(/pics/i/icon-select-arrow.svg);
    background-position: 98% center;
    background-repeat: no-repeat;
    border: none;
    background: transparent;
    outline: none;
    border-radius: 0;
    width: 100%;
}

label{
    color: $dark-gray;
    display: block;
    left: 16px;
    position: absolute;
    transition: 0.2s;
    top: 17px;
}

fieldset{
    position: relative;
}

fieldset.select{
    border: 1px solid $light-gray;
    .comment{
        color: $dark-gray;
        cursor: pointer;
        display: block;
        font-size: 85%;
        left: 15px;
        position: absolute;
        transition: 0.2s;
        top: 7px;
        z-index: 0;
    }
    .tick{
        position: absolute;
        right: 20px;
        top: 23px;
        transition: 0.2s;
    }
    select{
        padding: 26px 30px 5px 16px;
        option{
            width: 90%;
        }
    }
    &:focus .tick{
        transform: rotate(40deg);
    }
}

fieldset.select:focus{
    border: 1px solid red;
}

.checkbox{
    label{
        color: $black;
        cursor: pointer;
        padding: 2px 0 0 56px;
        position: relative;
        &:after{
            background: $white;
            border-radius: 15px;
            content: '';
            height: 20px;
            left: 2px;
            position: absolute;
            transition: 0.25s ease;
            width: 20px;
        }
        &:before{
            background: $red;
            border-radius: 19px;
            content: '';
            left: 0;
            height: 24px;
            position: absolute;
            top: 0;
            transition: 0.25s ease;
            width: 48px;
        }
    }
    label.active{
        &:before{
            background: $green;
        }
        &:after{
            left: 26px;
        }
    }
}

input[type=checkbox]{
    display: none;
}

@font-face{
    font-family: CirceLight;
    src: url('../fonts/Circe-Light.ttf');
}

@font-face{
    font-family: CirceRegular;
    src: url('../fonts/Circe-Regular.ttf');
}

@font-face{
    font-family: CirceBold;
    src: url('../fonts/Circe-Bold.ttf');
}

.fixed-menu-container{
    position: relative;
}

@media(max-width: 1200px){
    h1{
        font-size: 370%;
        line-height: 115%;
    }
    h2{
        font-size: 275%;
    }
    h3{
        font-size: 180%;
    }
    p{
        font-size: 120%;
    }
    p.big{
        font-size: 170%;
    }
}

@media(max-width: 1000px){
    h1{
        font-size: 340%;
        line-height: 115%;
    }
    h2{
        font-size: 245%;
        margin: 0 0 16px;
        padding: 0 0 16px;
    }
    p{
        font-size: 110%;
        margin: 0 0 16px;
    }
    p.big{
        font-size: 150%;
    }
}

@media(max-width: 850px){
    p{
        font-size: 105%;
    }
    p.big{
        font-size: 140%;
    }
}

@media(max-width: 767px){
    p{
        font-size: 115%;
    }
}

@media(max-width: 550px){
    h1{
        font-size: 300%;
    }
}

@media(max-width: 450px){
    h1{
        font-size: 250%;
    }
}