$dark-text: rgba(26, 26, 26, 1);
$dark-bg: rgba(32, 32, 32, 1);
$green: rgba(1, 255, 142, 1);
$lightgreen: rgba(78, 255, 167, 1);
$lightgray: rgba(244, 244, 244, 1);
$white: rgba(255, 255, 255, 1);
$CL: CirceLight, sans-serif;
$CR: CirceRegular, sans-serif;
$CB: CirceBold, sans-serif;