section.advantages
    h2 Преимущества
    div.container
        div.row.row--advantages
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/n-1.svg
                div.col-md-8
                    p Гарантия подачи машины
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/n-2.svg
                div.col-md-8
                    p Бесплатное ожидание даже в&nbsp;случае сильной задержки рейса
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/n-3.svg
                div.col-md-8
                    p Наличие детских удерживающих устройств

        div.row.row--advantages
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/n-4.svg
                div.col-md-8
                    p Фиксированная цена во&nbsp;все дни, включая выходные и&nbsp;праздники
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/n-5.svg
                div.col-md-8
                    p Все поездки по&nbsp;системе «от&nbsp;двери до&nbsp;дверей» без&nbsp;доплат
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/n-6.svg
                div.col-md-8
                    p Выполняем до&nbsp;99% заказов даже в&nbsp;случае форс-мажора

        div.row
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/n-7.svg
                div.col-md-8
                    p Круглосуточная линия поддержки ответит на&nbsp;все Ваши вопросы
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/n-8.svg
                div.col-md-8
                    p Скидка 10% на&nbsp;обратную поездку
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/n-9.svg
                div.col-md-8
                    p Чеки – БСО. Отчетная