section.cities
    h2 Города
    div.container(data-animation="fadeIn")
        div.row
            div.col-md-2
                a(href="#") Алупка
            div.col-md-2
                a(href="#") Алушта
            div.col-md-2
                a(href="#") Ангарский перевал
            div.col-md-2
                a(href="#") Арабатская стрелка
            div.col-md-2
                a(href="#") Армянск
            div.col-md-2
                a(href="#") Балаклава
            div.col-md-2
                a(href="#") Бахчисарай
            div.col-md-2
                a(href="#") Белогорск
            div.col-md-2
                a(href="#") Береговое
            div.col-md-2
                a(href="#") Большой каньон
            div.col-md-2
                a(href="#") Водопад Учан-СУ
            div.col-md-2
                a(href="#") Гаспра


            div.col-md-2
                a(href="#") Главная
            div.col-md-2
                a(href="#") Горный Крым
            div.col-md-2
                a(href="#") Джур-Джур водопад
            div.col-md-2
                a(href="#") Димерджи гора
            div.col-md-2
                a(href="#") Евпатория
            div.col-md-2
                a(href="#") Западный Крым


            div.col-md-2
                a(href="#") Казантип мыс
            div.col-md-2
                a(href="#") Каламитский залив
            div.col-md-2
                a(href="#") Каменные «грибы»
            div.col-md-2
                a(href="#") Караби-Яйла
            div.col-md-2
                a(href="#") Карадаг гора
            div.col-md-2
                a(href="#") Кацивелли


            div.col-md-2
                a(href="#") Керчь
            div.col-md-2
                a(href="#") Коктебель
            div.col-md-2
                a(href="#") Кореиз
            div.col-md-2
                a(href="#") Красноперекопск
            div.col-md-2
                a(href="#") Крымские пещеры
            div.col-md-2
                a(href="#") Ливадия


            div.col-md-2
                a(href="#") Массандра
            div.col-md-2
                a(href="#") Мисхор
            div.col-md-2
                a(href="#") Мойнакское озеро
            div.col-md-2
                a(href="#") Новый Свет
            div.col-md-2
                a(href="#") Ореанда
            div.col-md-2
                a(href="#") Парковое


            div.col-md-2
                a(href="#") Понизовка
            div.col-md-2
                a(href="#") Поповка
            div.col-md-2
                a(href="#") Саки
            div.col-md-2
                a(href="#") Cимеиз
            div.col-md-2
                a(href="#") Симферополь
            div.col-md-2
                a(href="#") Старый Крым


            div.col-md-2
                a(href="#") Судак
            div.col-md-2
                a(href="#") Тарханкут
            div.col-md-2
                a(href="#") Феодосия
            div.col-md-2
                a(href="#") Черноморское
            div.col-md-2
                a(href="#") Щелкино
            div.col-md-2
                a(href="#") Ялта