section.financial-analytics.parallax-window(data-parallax="scroll" data-image-src="assets/img/financial-analytics-visual.jpg")
    div.container
        div.row(data-animation="fadeIn")
            div.col-md-12
                h2 Финансовая аналитика

        div.row(data-animation="fadeIn")
            div.col-md-6.offset-3
                p.comment
                    | Dashboard — инструмент отчётности, который используется
                    | для&nbsp;быстрого визуального сравнительного анализа ключевых показателей

        div.row.dashboard(data-animation="fadeIn" data-animation-delay="500ms")
            div.col-md-6.dashboard-mobile
                img(src="assets/img/dashboard.png" alt="дашборд")
            div.col-md-6
                div.financial-analytics__item
                    h3 Скорость принятия решений
                    p
                        | Специально разработанные отчётыпозволяют руководителям
                        | Fintech-компаний оперативно принимать решения. Все возникающие
                        | проблемы и отклонений от плана видны в режиме реального времени.

                div.financial-analytics__item
                    h3 Анализы и прогнозы
                    p
                        | Также этот инструмент помогает менеджерам компании анализировать
                        | тенденции за прошедший период и прогнозировать показатели на будущее.

                div.financial-analytics__item
                    h3 Улучшение KPI
                    p
                        | С помощью нашей аналитики вы можете добиться улучшения
                        | ключевых показателей микрофинансовых компаний в следующих
                        | структурных подразделениях: маркетинг, управление рисками
                        | и взысканием.

                div.financial-analytics__item
                    h3 Гибкость
                    p
                        | Вы можете создать индивидуальное решение для кредитования,
                        | которое идеально соответствует потребностям вашего бизнеса,
                        | взяв за основу нашу платформу.

            div.col-md-6.dashboard-desktop
                img(src="assets/img/dashboard.png" alt="дашборд")