section.first-screen
    include header
    h1(data-animation="fadeIn") Заказ такси в Крыму
    p(data-animation="fadeIn") Комплексное решение для&nbsp;микрофинансирования с&nbsp;настраиваемыми рабочими процессами и&nbsp;политикой рисков
