section.first-screen
    include header
    h1(data-animation="fadeIn") Разработка финансового программного обеспечения
    p(data-animation="fadeIn") Комплексное решение для&nbsp;микрофинансирования с&nbsp;настраиваемыми рабочими процессами и&nbsp;политикой рисков
