footer
    div.container
        div.row
            div.col-md-3.copyright © 2018 Служба такси «Вежливые люди»
            div.col-md-6.row
                div.col-md-4.documents-container
                    div.document
                        a.link(href="#")
                            span Оферта для юр. лиц
                        div.type-and-size (doc, 44,6 Кб)
                    div.document
                        a.link(href="#")
                            span Оферта для физ. лиц
                        div.type-and-size (doc, 52,0 Кб)

                div.col-md-8.documents-container
                    div.document
                        a.link(href="#")
                            span Политика конфиденциальности
                        div.type-and-size (doc, 23,2 Кб)
                    div.document
                        a.link(href="#")
                            span Общие правила оказания трансферных услуг
                        div.type-and-size (doc, 14,9 Кб)

            div.col-md-3.ketov
                | Дизайн — Юрий Кетов