footer#footer
    div.container
        div.row
            div.col-md-3.copyright
                div © 2018–2019 Служба заказа такси «Вежливые люди»
            div.col-md-2
                div.links
                    a(href="rules.html") Правила и&nbsp;условия
                div.links
                    a(href="faq.html") Частые вопросы
                div.links
                    a(href="contacts.html") Контакты
            div.col-md-4
                a.social.social--vk(href="#")
                a.social.social--fb(href="#")
                a.social.social--inst(href="#")
                a.social.social--ok(href="#")
                a.phone(href="tel:88002003839") 8 (800) 200-38-39
                div.free8800
                    nobr бесплатно для звонков из&nbsp;России

            div.col-md-3.ketov
                | Дизайн — Юрий Кетов