footer
    div.container
        div.row
            div.col-md-3
                img.logo(src="assets/img/logo.svg" alt="логотип")
            div.col-md-6
                a.fb(href="")
                    img(src="assets/img/social-fb-dark.svg" alt="фейсбук")
                a.link.email(href="mailto:info@zenit.team") info@zenit.team
                a.link.transfer-conditions(href="") Условия передачи данных
            div.col-md-3.copyright © 2018 ZEN-IT