footer
    div.container
        div.row
            div.col-md-3 © 2018 Служба такси «Вежливые люди»
            div.col-md-6
            div.col-md-3.ketov
                | Дизайн —
                a.link(href="http://ketov.name" target="_blank")
                    span Юрий Кетов