footer#footer
    div.container
        div.row
            div.col-md-3.copyright
                div © 2018–2019 Служба заказа такси «Вежливые люди»
            div.col-md-2
                div.links
                    a(href="rules.html") Правила и&nbsp;условия
                div.links
                    a(href="faq.html") Частые вопросы
                div.links
                    a(href="contacts.html") Контакты
            div.col-md-4
                a.social.social--vk(href="#")
                a.social.social--fb(href="#")
                a.social.social--inst(href="#")
                a.phone(href="tel:+79223104870") +7 (922) 310-48-70

            div.col-md-3.ketov
                | Дизайн — Юрий Кетов