header(data-animation="fadeIn" data-animation-delay="500ms")
    div.container
        div.row
            div.col-md-4
                img.logo(src="assets/img/logo.svg" alt="логотип")
            div.col-md-8
                a.link.header__company(href="")
                    span о компании
                a.link.header__about-product(href="")
                    span о продукте
                a.link.header__financial-analytics(href="")
                    span финансовая аналитика
                a.link.header__index-form(href="")
                    span напишите нам