header.inner(data-animation="fadeIn" data-animation-delay="500ms")
    div.container
        div.row
            div.col-md-2
                img.logo(src="assets/img/logo.svg" alt="логотип")
            div.col-md-8
                a.link(href="#")
                    span Услуги трансфера
                a.link(href="#")
                    span Частые вопросы
                a.link(href="#")
                    span Гид «Как добраться»
                a.link(href="#")
                    span Вежливые люди
            div.col-md-2.phone
                a(href="tel:+79223104870") +7 (922) 310-48-70