section.how-to-order#how-to-order
    h2 Как заказать
    div.container

        div.row
            div.col-md-10.offset-1
                p.how-to-order__p1
                    | Услуга трансфера от&nbsp;Вежливых людей - выгодная альтернатива вызова
                    | такси в&nbsp;Крыму, в&nbsp;аэропорт или&nbsp;из&nbsp;аэропорта. Так же мы можем организовать
                    | поездку между городами Крыма или&nbsp;туристическими местами, но&nbsp;обычно это поездки
                    | от&nbsp;или&nbsp;до&nbsp;ж/д вокзала, авто вокзала, аэропорта или&nbsp;орского порта.

        div.row.row--advantages
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/h-1.svg
                div.col-md-8
                    p Укажите пункты назначения
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/h-2.svg
                div.col-md-8
                    p Подтвердите свой тариф
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/h-3.svg
                div.col-md-8
                    p Заполните форму

        div.row
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/h-4.svg
                div.col-md-8
                    p Получите контакты водителя
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/h-5.svg
                div.col-md-8
                    p Свяжитесь с&nbsp;водителем по&nbsp;прилёту
            div.col-md-4.row
                div.col-md-4.advantages__number
                    include ../../img/h-6.svg
                div.col-md-8
                    p Водитель довезёт Вас с&nbsp;комфортом

        div.row
            div.col-md-10.offset-1
                p.how-to-order__p2
                    | Заказать такси желательно заранее, за&nbsp;1-2 дня до&nbsp;вылета,
                    | так&nbsp;как мы подбираем водителям поездки в&nbsp;обе стороны,
                    | что&nbsp;позволяет гарантировать для&nbsp;Вас наименьшую цену
                    | без&nbsp;потери качества.