section.index-form
    div.container
        div.row
            div.col-md-6.offset-3
                h2(data-animation="fadeIn") Напишите нам
                p.comment(data-animation="fadeIn")
                    | Если у&nbsp;вас есть вопросы или&nbsp;вы хотите запланировать демонстрацию,
                    | не&nbsp;стесняйтесь обращаться к&nbsp;нам, мы&nbsp;свяжемся с&nbsp;вами в&nbsp;течение 5&nbsp;минут
                input.index-form__name(placeholder="Как вас зовут?" type="text" data-animation="fadeInUp" data-animation-delay="50ms")
                input.index-form__contact(placeholder="Эл. почта или телефон" type="text" data-animation="fadeInUp" data-animation-delay="75ms")
                input.index-form__company(placeholder="Компания" type="text" data-animation="fadeInUp" data-animation-delay="100ms")
                input.index-form__message(placeholder="Сообщение" type="text" data-animation="fadeInUp" data-animation-delay="125ms")
                button(data-animation="fadeIn" data-animation-delay="500ms") отправить
