section.index-offer
    div.container
        div.row(data-animation="fadeIn")
            div.col-md-12
                h1 Заказывайте такси-трансфер в&nbsp;аэропорт Симферополя и&nbsp;города Крыма

        div.search.search--main(data-animation="fadeIn" data-animation-delay="600ms")
            div.container
                div.row
                    form.col-md-10.offset-1.index-offer__form
                        div.row
                            div.col-md-4
                                fieldset
                                    input.input(id="from")
                                    label(for="from") Откуда

                            div.col-md-4
                                fieldset
                                    input.input.focus(id="where" value="Симферополь")
                                    label(for="where") Куда

                            div.col-md-2
                                fieldset
                                    input.input(id="passengers")
                                    label(for="passengers") Пассажиры

                            div.col-md-2
                                button Найти

            img.main-img(src="assets/img/main-illustration.svg" alt="главная иллюстрация")