section.index-offer
    div.container
        div.row(data-animation="fadeIn")
            div.col-md-12
                h1 Заказывайте такси-трансфер в&nbsp;аэропорт Симферополя и&nbsp;города Крыма

        div.search.search--main(data-animation="fadeIn" data-animation-delay="600ms")
            div.container
                div.row
                    form.col-md-10.offset-1.index-offer__form
                        div.row
                            div.col-md-4
                                fieldset
                                    fieldset.select
                                        div.comment Откуда
                                        img.tick(src="assets/img/select-triangle.svg" alt="")
                                        select(name="from")
                                            option из Алупки
                                            option из Бахчисарая
                                            option из Белогорска
                                            option из Верхней Кутузовки
                                            option из Гаспры
                                            option из Гурзуфа
                                            option из Джанкой
                                            option из Заозерного
                                            option из Евпатории
                                            option(selected) из Симферополя
                                            option из Ялты

                            div.col-md-4
                                fieldset
                                    fieldset.select
                                        div.comment Куда
                                        img.tick(src="assets/img/select-triangle.svg" alt="")
                                        select(name="where")
                                            option в Алупку
                                            option в Бахчисарай
                                            option в Белогорск
                                            option в Верхнюю Кутузовку
                                            option в Гаспру
                                            option в Гурзуф
                                            option в Джанкой
                                            option в Заозерный
                                            option(selected) в Евпаторию

                            div.col-md-2
                                fieldset
                                    input.input(id="passengers")
                                    label(for="passengers") Пассажиры

                            div.col-md-2
                                button Найти

            img.main-img(src="assets/img/main-illustration.svg" alt="главная иллюстрация")