section.index-offer
    div.container
        div.row(data-animation="fadeIn")
            div.col-md-12
                h1 Заказывайте такси-трансфер в&nbsp;аэропорт Симферополя и&nbsp;города Крыма

        div.search.search--main(data-animation="fadeIn" data-animation-delay="600ms")
            div.row
                form.col-md-10.offset-1.index-offer__form
                    div.row
                        div.col-md-4
                            fieldset
                                fieldset
                                    input.input.focus(name="from" id="from" value="Симферополь")
                                    label(for="from") Откуда

                        div.col-md-4
                            fieldset
                                fieldset
                                    input.input(name="where" id="where")
                                    label(for="where") Куда

                        div.col-md-2
                            fieldset
                                input.input(id="passengers")
                                label(for="passengers" id="label-for-passengers") Пассажиры

                                div.passengers-add
                                    div.row
                                        div.col-md-6.passengers-add__text Взрослые
                                        div.col-md-6.row.passengers-add__actions
                                            div.col-md-4
                                                button.passengers-add__button(type="button") -
                                            div.col-md-4 0
                                            div.col-md-4
                                                button.passengers-add__button(type="button") +

                                    div.row
                                        div.col-md-6.passengers-add__text Дети
                                        div.col-md-6.row.passengers-add__actions
                                            div.col-md-4
                                                button.passengers-add__button(type="button") -
                                            div.col-md-4 0
                                            div.col-md-4
                                                button.passengers-add__button(type="button") +


                        div.col-md-2
                            button Найти

            img.main-img(src="assets/img/main-illustration.svg" alt="главная иллюстрация")