section.partners
    div.container
        div.row
            div.col-md-12
                div.partners__logo(data-animation="fadeIn" data-animation-delay="100ms")
                    img(src="assets/img/partners/partner-platiza.svg" alt="Платиза")
                div.partners__logo(data-animation="fadeIn" data-animation-delay="200ms")
                    img(src="assets/img/partners/partner-nbk.svg" alt="Бюро кредитных историй")
                div.partners__logo(data-animation="fadeIn" data-animation-delay="300ms")
                    img(src="assets/img/partners/partner-equifax.svg" alt="Equifax")
                div.partners__logo(data-animation="fadeIn" data-animation-delay="400ms")
                    img(src="assets/img/partners/partner-cyberplat.png" alt="Cyberplat")
                div.partners__logo(data-animation="fadeIn" data-animation-delay="500ms")
                    img(src="assets/img/partners/partner-bankiru.svg" alt="Banki.ru")
                div.partners__logo(data-animation="fadeIn" data-animation-delay="600ms")
                    img(src="assets/img/partners/partner-mastercard.svg" alt="Mastercard")
                div.partners__logo(data-animation="fadeIn" data-animation-delay="700ms")
                    img(src="assets/img/partners/partner-visa.svg" alt="Visa")
                div.partners__logo(data-animation="fadeIn" data-animation-delay="800ms")
                    img(src="assets/img/partners/partner-yandex.svg" alt="Яндекс.Деньги")