section.product
    div.container.about-company
        div.row
            div.col-md-10.offset-1.company#company
                h2 О компании
                p
                    | ZEN-IT — компания, специализирующаяся на&nbsp;разработке, продвижении
                    | и&nbsp;предоставлении различного рода услуг для лидеров онлайн-кредитования
                    | в&nbsp;России. Мы&nbsp;создаём решения, которые помогают финансовым компаниям
                    | управлять своим бизнесом. За&nbsp;6&nbsp;лет работы мы&nbsp;реализовали широкий спектр
                    | инновационных проектов и&nbsp;FinTech-решений. Будучи надёжным технологическим
                    | партнёром, мы уже заслужили доверие ведущих брендов рынка РФ.

    div.container.about-product(data-animation="fadeIn" data-animation-delay="500ms")
        div.row
            div.col-md-10
                h2 О продукте
                p.big
                    | Наше решение предоставляет технологическую основу для&nbsp;полноценного жизненного
                    | цикла кредита и&nbsp;охватывает все необходимые процессы для&nbsp;запуска и&nbsp;ведения
                    | эффективного бизнеса — управление продуктами, рисками, отчётностью
                    | и&nbsp;рядом других функций. Платформа, разработанная с&nbsp;учётом особенностей настройки
                    | и&nbsp;масштабируемости, позволяет удовлетворить потребности финансовых организаций
                    | разных размеров.

        div.row.product__row(data-animation="fadeIn")
            div.col-md-12
                div.row
                    div.col-md-5.product__item
                        include ../../img/product-icon-1.svg
                        h3 Автоматизированная система управления кредитами
                        p Решение охватывает полный цикл кредитования от&nbsp;ввода данных до проверки кредитной истории, оценки рейтинга и&nbsp;принятия решения.

                    div.col-md-5.offset-1.product__item
                        include ../../img/product-icon-2.svg
                        h3 CRM
                        p CRM — система управления учётными записями предоставляет обширные возможности для&nbsp;планирования и&nbsp;координации коммуникаций с&nbsp;клиентами по&nbsp;всем каналам связи.

        div.row.product__row(data-animation="fadeIn")
            div.col-md-12
                div.row
                    div.col-md-5.product__item
                        include ../../img/product-icon-3.svg
                        h3 Кредитный скоринг
                        p Точная оценка кредитоспособности клиентов поможет снизить кредитный риск. Полностью автоматизированная система принятия решений минимизирует операционные расходы.

                    div.col-md-5.offset-1.product__item
                        include ../../img/product-icon-4.svg
                        h3 Управление рисками
                        p
                            | Отчётность в&nbsp;режиме реального времени позволяет МФО консолидировать
                            | ключевые показатели эффективности. Впечатляющая структура отчётности,
                            | в&nbsp;которой выделяются области требующие внимания, позволяет принимать
                            | верные решения самые короткие сроки.

        div.row.product__row(data-animation="fadeIn")
            div.col-md-12
                div.row
                    div.col-md-11.product__item.product__item--last
                        include ../../img/product-icon-5.svg
                        h3 Модуль управления взысканием
                        p
                            | Готовый модуль управления взысканием возволяет повысить уровень сборов
                            | с&nbsp;портфеля до&nbsp;максимально возможного. Мы автоматизировали процесс сбора
                            | просроченной задолженности: интеграция ПО с&nbsp;сторонними сервисами,
                            | встроенный модуль моделирования бизнес-процессов, отчётность.
                            | Используя наши технологии, все ручные действия будут сведены к&nbsp;минимуму.