section.reviews
    h2 Отзывы
    div.container
        div.row
            div.col-md-3
                p
                    | В&nbsp;наше время, отношение таксистов к&nbsp;мамам с&nbsp;детьми
                    | какое-то предвзятое. Никогда не&nbsp;получалось уехать на&nbsp;такси
                    | с&nbsp;первого раза, таксисты отказывались везти с&nbsp;ребенком без&nbsp;кресла,
                    | хотя оператор был предупрежден о&nbsp;необходимости наличия кресла
                    span …
                a.link(href="#")
                    span Читать весь отзыв на сайте
                div.author Vanessa87

            div.col-md-3
                p
                    | Часто пользуюсь услугами этой службы такси. Данное такси никогда не подводит,
                    | приезжает точно в срок. У водителя всегда есть сдача, какую купюру я бы
                    | не дала
                    span …
                a.link(href="#")
                    span Читать весь отзыв на сайте
                div.author pytenkova

            div.col-md-3
                p
                    | Машинку назначили быстро, сообщение о машине пришло буквально
                    | в течение 5 минут. Водитель даже без просьбы помог
                    | с чемоданом. Вёз аккуратно, вёл себя очень вежливо
                    span …
                a.link(href="#")
                    span Читать весь отзыв на сайте
                div.author shes7

            div.col-md-3
                p
                    | Заказывал через приложение, машина приехала через 10 минут.
                    | Водитель помог убрать багаж. Сам по себе человек приятный.
                    | Машина — иномарка, чистая и ухоженная. В общем, остались
                    | только приятные впечатления
                    span …
                a.link(href="#")
                    span Читать весь отзыв на сайте
                div.author halfkid