section.reviews
    h2 Отзывы
    div.container
        div.row
            div.col-md-3(data-animation="fadeIn" data-animation-delay="150ms" itemscope itemtype="http://schema.org/Review")
                img.reviews__triangle(src="assets/img/reviews-triangle.svg" alt="")
                div(itemprop="reviewBody")
                    p
                        | В&nbsp;наше время, отношение таксистов к&nbsp;мамам с&nbsp;детьми
                        | какое-то предвзятое. Никогда не&nbsp;получалось уехать на&nbsp;такси
                        | с&nbsp;первого раза, таксисты отказывались везти с&nbsp;ребенком без&nbsp;кресла,
                        | хотя оператор был предупрежден о&nbsp;необходимости наличия кресла
                        span …
                a(href="#" itemprop="url" target="_blank") Читать весь отзыв на сайте
                div.author 
                    span(itemprop="author" itemscope itemtype="http://schema.org/Person") 
                        span(itemprop="name") Vanessa87

            div.col-md-3(data-animation="fadeIn" data-animation-delay="300ms" itemscope itemtype="http://schema.org/Review")
                img.reviews__triangle(src="assets/img/reviews-triangle.svg" alt="")
                div(itemprop="reviewBody")
                    p
                        | Часто пользуюсь услугами этой службы такси. Данное такси никогда не&nbsp;подводит,
                        | приезжает точно в&nbsp;срок. У&nbsp;водителя всегда есть сдача, какую купюру я бы
                        | не&nbsp;дала
                        span …
                a(href="#" itemprop="url" target="_blank") Читать весь отзыв на сайте
                div.author 
                    span(itemprop="author" itemscope itemtype="http://schema.org/Person") 
                        span(itemprop="name") pytenkova

            div.col-md-3(data-animation="fadeIn" data-animation-delay="450ms" itemscope itemtype="http://schema.org/Review")
                img.reviews__triangle(src="assets/img/reviews-triangle.svg" alt="")
                div(itemprop="reviewBody")
                    p
                        | Машинку назначили быстро, сообщение о&nbsp;машине пришло буквально
                        | в&nbsp;течение 5&nbsp;минут. Водитель даже без&nbsp;просьбы помог
                        | с&nbsp;чемоданом. Вёз аккуратно, вёл себя очень вежливо
                        span …
                a(href="#" itemprop="url" target="_blank") Читать весь отзыв на сайте
                div.author 
                    span(itemprop="author" itemscope itemtype="http://schema.org/Person") 
                        span(itemprop="name") shes7

            div.col-md-3(data-animation="fadeIn" data-animation-delay="600ms" itemscope itemtype="http://schema.org/Review")
                img.reviews__triangle(src="assets/img/reviews-triangle.svg" alt="")
                div(itemprop="reviewBody")
                    p
                        | Заказывал через приложение, машина приехала через 10&nbsp;минут.
                        | Водитель помог убрать багаж. Сам по&nbsp;себе человек приятный.
                        | Машина — иномарка, чистая и&nbsp;ухоженная. В&nbsp;общем, остались
                        | только приятные впечатления
                        span …
                a(href="#" itemprop="url" target="_blank") Читать весь отзыв на сайте
                div.author 
                    span(itemprop="author" itemscope itemtype="http://schema.org/Person") 
                        span(itemprop="name") halfkid



            div.col-md-3(data-animation="fadeIn" data-animation-delay="150ms" itemscope itemtype="http://schema.org/Review")
                img.reviews__triangle(src="assets/img/reviews-triangle.svg" alt="")
                div(itemprop="reviewBody")
                    p
                        | Этим летом ездили (я, сестра и&nbsp;ее&nbsp;дочка) отдыхать в&nbsp;Коктебель. 
                        | В&nbsp;Коктебеле мы были 5 дней отпуска, остальные 5 дней решили провести 
                        | в&nbsp;Феодосии. Встал вопрос как&nbsp;туда добраться
                        span …
                a(href="#" itemprop="url" target="_blank") Читать весь отзыв на сайте
                div.author 
                    span(itemprop="author" itemscope itemtype="http://schema.org/Person") 
                        span(itemprop="name") Petr9777

            div.col-md-3(data-animation="fadeIn" data-animation-delay="300ms" itemscope itemtype="http://schema.org/Review")
                img.reviews__triangle(src="assets/img/reviews-triangle.svg" alt="")
                div(itemprop="reviewBody")
                    p
                        | Воспользовалась услугами этого милого такси в&nbsp;феврале, 
                        | когда мы с&nbsp;мужем отдыхали в&nbsp;Ялте. Быстро и&nbsp;немудрено оформили 
                        | туда и&nbsp;обратно трансфер. Водитель развлекал нас всю дорогу, 
                        | так что советую
                        span …
                a(href="#" itemprop="url" target="_blank") Читать весь отзыв на сайте
                div.author 
                    span(itemprop="author" itemscope itemtype="http://schema.org/Person") 
                        span(itemprop="name") Тоня1234

            div.col-md-3(data-animation="fadeIn" data-animation-delay="450ms" itemscope itemtype="http://schema.org/Review")
                img.reviews__triangle(src="assets/img/reviews-triangle.svg" alt="")
                div(itemprop="reviewBody")
                    p
                        | Возвращалась из&nbsp;командировки. Очень устала и&nbsp;хотелось быстрее попасть домой. 
                        | Пара служб предложила мне ждать, достаточно долго. Тогда я&nbsp;попробовала испытать 
                        | судьбу и&nbsp;позвонила еще в&nbsp;службу Вежливые Люди. 
                        span …
                a(href="#" itemprop="url" target="_blank") Читать весь отзыв на сайте
                div.author 
                    span(itemprop="author" itemscope itemtype="http://schema.org/Person") 
                        span(itemprop="name") Apachi

            div.col-md-3(data-animation="fadeIn" data-animation-delay="600ms" itemscope itemtype="http://schema.org/Review")
                img.reviews__triangle(src="assets/img/reviews-triangle.svg" alt="")
                div(itemprop="reviewBody")
                    p
                        | Прилетал в&nbsp;Крым по&nbsp;работе, на&nbsp;прошлой неделе. Воспользовался 
                        | поисковиком чтобы найти такси. Выбрал первый в&nbsp;списке. 
                        | Попал на&nbsp;сайт данного оператора, посмотрел тарифы, 
                        | там же оставил онлайн заявку. По&nbsp;прилету ждал водитель.
                        span …
                a(href="#" itemprop="url" target="_blank") Читать весь отзыв на сайте
                div.author 
                    span(itemprop="author" itemscope itemtype="http://schema.org/Person") 
                        span(itemprop="name") MaryJ