section.seo
    div.container
        div.row
            div.col-md-8.offset-2
                p
                    | Услуга трансфера — альтернатива заказу такси в&nbsp;аэропорт в&nbsp;чужой стране.
                    | Возможен автомобильный трансфер между городами или&nbsp;туристическими местами,
                    | но&nbsp;чаще всего это услуга поездки от&nbsp;или&nbsp;до&nbsp;транспортного узла: аэропорта,
                    | железнодорожного или&nbsp;автовокзала, морского или&nbsp;речного порта.

                p
                    | Бронирование трансферов обязательно делается заранее: для&nbsp;разных классов авто
                    | в&nbsp;разных странах минимальное время, за&nbsp;которое нужно заказать
                    | трансфер — от&nbsp;16 до&nbsp;24 часов. Предварительный заказ дает перевозчику подготовиться
                    | к&nbsp;поездке, это&nbsp;объясняет преимущества индивидуальных трансферов.