section.slider
    div.container
        div.slider__message
            | Радость от&nbsp;сэкономленных
            | 200&nbsp;рублей длится меньше,
            | чем&nbsp;горечь испорченных впечатлений, начните свое путешествие с&nbsp;позитива.
            | Начните свое путешествие
            | с&nbsp;нас!
        div.slider__slider-container
            div.swiper-container.swiper-index
                div.swiper-wrapper
                    div.swiper-slide
                        img(src="assets/img/slide-1.png" alt="слайд 1")
                    div.swiper-slide
                        img(src="assets/img/slide-2.png" alt="слайд 2")
                    div.swiper-slide
                        img(src="assets/img/slide-3.png" alt="слайд 3")
                div.swiper-pagination.swiper-pagination--index
        div.clear