section.standards
    h2 Стандарты
    div.container
        div.row
            div.col-md-3#standards-menu-container
                div#standards-menu
                    a.standards__nav.standards__nav--1(href="#")
                        span Гарантинуем подачу машины
                    a.standards__nav.standards__nav--2(href="#")
                        span Машина подается того класса, который заказывали
                    a.standards__nav.standards__nav--3(href="#")
                        span Задерживается рейс?
                    a.standards__nav.standards__nav--4(href="#")
                        span Все цены на&nbsp;сайте указаны за&nbsp;машину
                    a.standards__nav.standards__nav--5(href="#")
                        span Машина подаётся заранее
                    a.standards__nav.standards__nav--6(href="#")
                        span Если нужно, в&nbsp;авто будет детское кресло
                    a.standards__nav.standards__nav--7(href="#")
                        span Можно получить мини-экскурсию
                    a.standards__nav.standards__nav--8(href="#")
                        span Круглосуточная информационная поддержка

            div.col-md-9
                span.standards__h3.standards__h3--1 Гарантируем подачу машины
                p
                    | Гарантируем подачу машины. Если вы сделали заказ за&nbsp;24 часа,
                    | в&nbsp;любой ситуации мы гарантируем подачу машины! Даже в&nbsp;случае форс-мажора,
                    | мы найдем замену в&nbsp;течении 10 минут. Как мы это делаем?
                    | В&nbsp;экстренных ситуациях мы доплачиваем водителям, чтобы гарантированно
                    | найти машину и&nbsp;выполнить наши обязательства. В&nbsp;нашей системе зарегистрировано
                    | свыше 6000 исполнителей, а&nbsp;это значит, что&nbsp;мы не&nbsp;испытываем дефицита
                    | в&nbsp;водителях и&nbsp;мы гарантированно выполним Ваш заказ.

                span.standards__h3.standards__h3--2 Машина подается того класса, который заказывали
                p
                    | Или класса выше. Вместительность известна заранее:
                    | сколько человек может уехать, для&nbsp;скольких сумок
                    | и&nbsp;чемоданов стандартных размеров есть место в&nbsp;багажнике. Заказывая
                    | через какое-нибудь местное приложение такси от&nbsp;аэропорта,
                    | это не&nbsp;всегда можно предсказать.

                span.standards__h3.standards__h3--3 Задерживается рейс?
                p
                    | Работник нашей компании гарантированно вас дождется,
                    | и&nbsp;за&nbsp;это время Вам не&nbsp;придется доплачивать, что&nbsp;очень удобно
                    | для&nbsp;каждого клиента. При переносе вылета, диспетчер произведет
                    | замену автомобиля, поэтому Вы&nbsp;гарантированно не&nbsp;останетесь без&nbsp;транспорта.

                span.standards__h3.standards__h3--4 Все цены на сайте указаны за машину
                p
                    | У&nbsp;нас на&nbsp;сайте все&nbsp;цены фиксированы и&nbsp;указаны за&nbsp;машину.
                    | Мы понимаем, что&nbsp;в&nbsp;Крыму распространена проблема подсадки
                    | в&nbsp;автомобиль других людей, без&nbsp;ведома клиента, однако, мы&nbsp;не&nbsp;оказываем
                    | таких услуг и&nbsp;при&nbsp;заказе у&nbsp;нас случайно такого не&nbsp;может произойти.

                span.standards__h3.standards__h3--5 Машина подается заранее
                p
                    | Перевозчик знает номер рейса, которым вы&nbsp;прилетаете в&nbsp;аэропорт
                    | — такси уже ждет на&nbsp;стоянке, а&nbsp;водитель встречает вас так близко
                    | к&nbsp;зоне прилета, насколько позволяют правила. То&nbsp;же&nbsp;самое — для
                    | такси от&nbsp;вокзалов и&nbsp;из&nbsp;отелей: встречающий будет на&nbsp;месте,
                    | по&nbsp;указанному адресу — таково правило сервиса. Можно вызвать
                    | местное такси в&nbsp;аэропорт это будет дороже и&nbsp;придется ждать машину,
                    | искать водителя, и&nbsp;времени уйдет на&nbsp;пол часа больше,
                    | чем если Вы закажите у&nbsp;нас.

                span.standards__h3.standards__h3--6 Если нужно, в&nbsp;авто будет детское кресло
                p
                    | При заказе нашего такси достаточно выбрать, сколько вам нужно
                    | детских кресел и&nbsp;для&nbsp;какого возраста. Водитель приедет на&nbsp;машине,
                    | укомплектованной для&nbsp;перевозки детей. Если на&nbsp;месте пытаться заказать
                    | такси в&nbsp;аэропорт и&nbsp;просить машину с&nbsp;одним-двумя детскими креслами,
                    | приходится ждать не&nbsp;меньше 30 минут, пока оператор ищет варианты,
                    | а&nbsp;может и&nbsp;не&nbsp;найти.

                span.standards__h3.standards__h3--7 Можно получить мини-экскурсию
                p
                    | Мы стараемся назначать на&nbsp;заказы местных водителей. Поэтому можно
                    | расспросить о&nbsp;Крыме и&nbsp;городе куда Вы направляетесь.
                    | Такси от&nbsp;Вежливых людей в&nbsp;Крыму, в&nbsp;первую очередь
                    | туристическая услуга. Водители-профессионалы это понимают
                    | и&nbsp;стараются сделать так, чтобы турист начал отдыхать еще во&nbsp;время поездки.

                span.standards__h3.standards__h3--8 Круглосуточная информационная поддержка
                p
                    | Наши менеджеры ответят Вам на&nbsp;все вопросы в&nbsp;любое время суток.
                    | Мы&nbsp;ведем наших клиентов, пока не&nbsp;доставим их по&nbsp;адресу.
                    | Вы гарантированно получите обратную связь по&nbsp;любому вопросу.