div.container.tariffs
    h3 Выберита класс трансфера
    div.row
        div.col-md-2.tariffs__tariff-container
            div.tariffs__tariff
                img.i(src="assets/img/i.svg" alt="i")
                div.comment Недорогое такси для&nbsp;пары или&nbsp;семьи с&nbsp;ребёнком
                img(src="assets/img/tariff-economy.svg" alt="Эконом")
                div.name Эконом
                div.model Renault Logan, ВАЗ и т.д.
                div.price
                    | 1 900
                    span.rub руб.
                a.button(href="#")
                    | Заказать
                    br
                    | такси

        div.col-md-2.tariffs__tariff-container
            div.tariffs__tariff
                img.i(src="assets/img/i.svg" alt="i")
                div.comment Недорогое такси для&nbsp;пары или&nbsp;семьи с&nbsp;ребёнком
                img(src="assets/img/tariff-comfort.svg" alt="Комфорт")
                div.name Комфорт
                div.model Ford Focus, Kia Rio, и т.д.
                div.price
                    | 2 250
                    span.rub руб.
                a.button(href="#")
                    | Заказать
                    br
                    | такси

        div.col-md-2.tariffs__tariff-container
            div.tariffs__tariff
                img.i(src="assets/img/i.svg" alt="i")
                div.comment Недорогое такси для&nbsp;пары или&nbsp;семьи с&nbsp;ребёнком
                img(src="assets/img/tariff-comfortplus.svg" alt="Комфорт+")
                div.name Комфорт+
                div.model Toyota Camry
                div.price
                    | 2 700
                    span.rub руб.
                a.button(href="#")
                    | Заказать
                    br
                    | такси

        div.col-md-2.tariffs__tariff-container
            div.tariffs__tariff
                img.i(src="assets/img/i.svg" alt="i")
                div.comment Недорогое такси для&nbsp;пары или&nbsp;семьи с&nbsp;ребёнком
                img(src="assets/img/tariff-universal.svg" alt="Универсал")
                div.name Универсал
                div.model Opel Astra универсал
                div.price
                    | 3 300
                    span.rub руб.
                a.button(href="#")
                    | Заказать
                    br
                    | такси

        div.col-md-2.tariffs__tariff-container
            div.tariffs__tariff
                img.i(src="assets/img/i.svg" alt="i")
                div.comment Недорогое такси для&nbsp;пары или&nbsp;семьи с&nbsp;ребёнком
                img(src="assets/img/tariff-minivan.svg" alt="Минивен")
                div.name Минивен
                div.model Hyundai h1
                div.price
                    | 3 600
                    span.rub руб.
                a.button(href="#")
                    | Заказать
                    br
                    | такси

        div.col-md-2.tariffs__tariff-container
            div.tariffs__tariff
                img.i(src="assets/img/i.svg" alt="i")
                div.comment Недорогое такси для&nbsp;пары или&nbsp;семьи с&nbsp;ребёнком
                img(src="assets/img/tariff-business.svg" alt="Бизнес")
                div.name Бизнес
                div.model Mercedes e200
                div.price
                    | 3 900
                    span.rub руб.
                a.button(href="#")
                    | Заказать
                    br
                    | такси