section.thankyou
    h3 Заявка принята
    p.text Спасибо, что&nbsp;приняли нас. В&nbsp;скором времени с&nbsp;Вами свяжется менеджер для&nbsp;подтверждения деталей поездки
    p.link-container
        a.link(href="index.html")
            span Вернуться на главную